/*
Syntax error: Undefined variable: "$zen-reverse-all-floats".
        on line 25 of /var/www/28julc/sites/all/themes/directa/sass/layouts/old_responsive.scss

Backtrace:
/var/www/28julc/sites/all/themes/directa/sass/layouts/old_responsive.scss:25
/usr/lib/ruby/gems/1.8/gems/sass-3.2.12/lib/sass/../sass/script/variable.rb:49:in `_perform'
/usr/lib/ruby/gems/1.8/gems/sass-3.2.12/lib/sass/../sass/script/node.rb:40:in `perform'
/usr/lib/ruby/gems/1.8/gems/sass-3.2.12/lib/sass/../sass/script/operation.rb:73:in `_perform'
/usr/lib/ruby/gems/1.8/gems/sass-3.2.12/lib/sass/../sass/script/node.rb:40:in `perform'
/usr/lib/ruby/gems/1.8/gems/sass-3.2.12/lib/sass/../sass/tree/visitors/perform.rb:204:in `visit_if'
/usr/lib/ruby/gems/1.8/gems/sass-3.2.12/lib/sass/../sass/tree/visitors/base.rb:37:in `send'
/usr/lib/ruby/gems/1.8/gems/sass-3.2.12/lib/sass/../sass/tree/visitors/base.rb:37:in `visit'
/usr/lib/ruby/gems/1.8/gems/sass-3.2.12/lib/sass/../sass/tree/visitors/perform.rb:100:in `visit'
/usr/lib/ruby/gems/1.8/gems/sass-3.2.12/lib/sass/../sass/tree/visitors/base.rb:53:in `visit_children'
/usr/lib/ruby/gems/1.8/gems/sass-3.2.12/lib/sass/../sass/tree/visitors/base.rb:53:in `map'
/usr/lib/ruby/gems/1.8/gems/sass-3.2.12/lib/sass/../sass/tree/visitors/base.rb:53:in `visit_children'
/usr/lib/ruby/gems/1.8/gems/sass-3.2.12/lib/sass/../sass/tree/visitors/perform.rb:109:in `visit_children'
/usr/lib/ruby/gems/1.8/gems/sass-3.2.12/lib/sass/../sass/tree/visitors/perform.rb:121:in `with_environment'
/usr/lib/ruby/gems/1.8/gems/sass-3.2.12/lib/sass/../sass/tree/visitors/perform.rb:108:in `visit_children'
/usr/lib/ruby/gems/1.8/gems/sass-3.2.12/lib/sass/../sass/tree/visitors/base.rb:37:in `visit'
/usr/lib/ruby/gems/1.8/gems/sass-3.2.12/lib/sass/../sass/tree/visitors/perform.rb:128:in `visit_root'
/usr/lib/ruby/gems/1.8/gems/sass-3.2.12/lib/sass/../sass/tree/visitors/base.rb:37:in `send'
/usr/lib/ruby/gems/1.8/gems/sass-3.2.12/lib/sass/../sass/tree/visitors/base.rb:37:in `visit'
/usr/lib/ruby/gems/1.8/gems/sass-3.2.12/lib/sass/../sass/tree/visitors/perform.rb:100:in `visit'
/usr/lib/ruby/gems/1.8/gems/sass-3.2.12/lib/sass/../sass/tree/visitors/perform.rb:7:in `send'
/usr/lib/ruby/gems/1.8/gems/sass-3.2.12/lib/sass/../sass/tree/visitors/perform.rb:7:in `visit'
/usr/lib/ruby/gems/1.8/gems/sass-3.2.12/lib/sass/../sass/tree/root_node.rb:20:in `render'
/usr/lib/ruby/gems/1.8/gems/sass-3.2.12/lib/sass/../sass/engine.rb:315:in `_render'
/usr/lib/ruby/gems/1.8/gems/sass-3.2.12/lib/sass/../sass/engine.rb:262:in `render'
/usr/lib/ruby/gems/1.8/gems/compass-0.12.2/lib/compass/compiler.rb:140:in `compile'
/usr/lib/ruby/gems/1.8/gems/compass-0.12.2/lib/compass/compiler.rb:126:in `timed'
/usr/lib/ruby/gems/1.8/gems/compass-0.12.2/lib/compass/compiler.rb:139:in `compile'
/usr/lib/ruby/gems/1.8/gems/compass-0.12.2/lib/compass/logger.rb:45:in `red'
/usr/lib/ruby/gems/1.8/gems/compass-0.12.2/lib/compass/compiler.rb:138:in `compile'
/usr/lib/ruby/gems/1.8/gems/compass-0.12.2/lib/compass/compiler.rb:118:in `compile_if_required'
/usr/lib/ruby/gems/1.8/gems/compass-0.12.2/lib/compass/compiler.rb:103:in `run'
/usr/lib/ruby/gems/1.8/gems/compass-0.12.2/lib/compass/compiler.rb:101:in `each'
/usr/lib/ruby/gems/1.8/gems/compass-0.12.2/lib/compass/compiler.rb:101:in `run'
/usr/lib/ruby/gems/1.8/gems/compass-0.12.2/lib/compass/compiler.rb:126:in `timed'
/usr/lib/ruby/gems/1.8/gems/compass-0.12.2/lib/compass/compiler.rb:100:in `run'
/usr/lib/ruby/gems/1.8/gems/compass-0.12.2/lib/compass/commands/watch_project.rb:147:in `recompile'
/usr/local/lib/site_ruby/1.8/rubygems/core_ext/kernel_require.rb:55:in `to_proc'
/usr/lib/ruby/gems/1.8/gems/fssm-0.2.10/lib/fssm/path.rb:73:in `call'
/usr/lib/ruby/gems/1.8/gems/fssm-0.2.10/lib/fssm/path.rb:73:in `run_callback'
/usr/lib/ruby/gems/1.8/gems/fssm-0.2.10/lib/fssm/path.rb:55:in `callback_action'
/usr/lib/ruby/gems/1.8/gems/fssm-0.2.10/lib/fssm/path.rb:31:in `create'
/usr/lib/ruby/gems/1.8/gems/fssm-0.2.10/lib/fssm/state/directory.rb:26:in `created'
/usr/lib/ruby/gems/1.8/gems/fssm-0.2.10/lib/fssm/state/directory.rb:25:in `each'
/usr/lib/ruby/gems/1.8/gems/fssm-0.2.10/lib/fssm/state/directory.rb:25:in `created'
/usr/lib/ruby/gems/1.8/gems/fssm-0.2.10/lib/fssm/state/directory.rb:17:in `refresh'
/usr/lib/ruby/gems/1.8/gems/fssm-0.2.10/lib/fssm/backends/polling.rb:17:in `run'
/usr/lib/ruby/gems/1.8/gems/fssm-0.2.10/lib/fssm/backends/polling.rb:17:in `each'
/usr/lib/ruby/gems/1.8/gems/fssm-0.2.10/lib/fssm/backends/polling.rb:17:in `run'
/usr/lib/ruby/gems/1.8/gems/fssm-0.2.10/lib/fssm/backends/polling.rb:15:in `loop'
/usr/lib/ruby/gems/1.8/gems/fssm-0.2.10/lib/fssm/backends/polling.rb:15:in `run'
/usr/lib/ruby/gems/1.8/gems/fssm-0.2.10/lib/fssm/monitor.rb:26:in `run'
/usr/lib/ruby/gems/1.8/gems/fssm-0.2.10/lib/fssm.rb:70:in `monitor'
/usr/lib/ruby/gems/1.8/gems/compass-0.12.2/lib/compass/commands/watch_project.rb:87:in `perform'
/usr/lib/ruby/gems/1.8/gems/compass-0.12.2/lib/compass/commands/base.rb:18:in `execute'
/usr/lib/ruby/gems/1.8/gems/compass-0.12.2/lib/compass/commands/project_base.rb:19:in `execute'
/usr/lib/ruby/gems/1.8/gems/compass-0.12.2/lib/compass/exec/sub_command_ui.rb:43:in `perform!'
/usr/lib/ruby/gems/1.8/gems/compass-0.12.2/lib/compass/exec/sub_command_ui.rb:15:in `run!'
/usr/lib/ruby/gems/1.8/gems/compass-0.12.2/bin/compass:30
/usr/lib/ruby/gems/1.8/gems/compass-0.12.2/bin/compass:44:in `call'
/usr/lib/ruby/gems/1.8/gems/compass-0.12.2/bin/compass:44
/usr/bin/compass:23:in `load'
/usr/bin/compass:23
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: Undefined variable: \"$zen-reverse-all-floats\".\A         on line 25 of /var/www/28julc/sites/all/themes/directa/sass/layouts/old_responsive.scss"; }
