/*Esdeveniment node complet*/
.node-type-esdeveniment-agenda {
  .breadcrumb {
    display: none;
  }
  #main #content {
    ul.tabs-primary.tabs.primary {
      display: none;
    }
    article.node-esdeveniment-agenda.view-mode-full {
      $zen-column-count: 17;
      @include zen-grid-container();
      .field-data-ag {
        @include zen-grid-item(7,1);
      }
      .field-adreca {
        @include zen-clear();
        @include zen-grid-item(12,4);
      }
      .field-municipi {
        @include zen-clear();
        @include zen-grid-item(12,4);
      }
      .field-body {
        @include zen-clear();
        @include zen-grid-item(12,4);
      }
      .easy_social_box {
        @include zen-clear();
        @include zen-grid-item(3,1);
      }
    }
  }
}

.not-front.node-type-esdeveniment-agenda {
  #main {
    #content {
      margin-top: 30px;
      #page-title {
        @include titulo-not;
        padding-top: 20px;
      }
      article.node-esdeveniment-agenda.view-mode-full {
        #nav-links-wrapper {
          .node-nav-links {
            position: absolute;
            top: 400px;
            background-color: $blanc;
            opacity: 0.7;
            width: 28%;
            height: 70px;
            padding: 20px 10px 10px 0;
            a {
              @include graphik-bold(16px,$gris7,22px);
              width: 70%;
            }
            &.node-nav-links-prev {
              left: -75px;
              box-shadow: 0px 0px 2px 2px $fons;
              a {
                float: right;
                background: url('../images/prev.png') no-repeat -15px 10px;
                padding-left: 40px;
              }
            }
            &.node-nav-links-next {
              //box-shadow: 6px 3px 10px 2px $fons;
              right:0%;
              //text-align: right;
              //background: url('../images/next.png') no-repeat 10px 10px;
              width: 40px;
              a {
                float: left;
                background: url('../images/next.png') no-repeat 10px 10px;
                width: 27px;
                height: 40px;
              }
            }
          }
        }
        .field-data-ag {
        } //Pendent modificació template
        .field-adreca {
          @include graphik-medium(30px,$gris3,32px);
          font-style: italic;
        }
        .field-municipi {
          @include graphik-medium(20px,$gris3,30px);
        }
        .field-adjuntar-imatge {
          margin-left: 18%;
          float: left;
          display: none; //PENDENT
        }
        .field-body {
          padding-top: 15px;
          margin-bottom: -120px;
          p {
            @include body;
            font-size: 20px; //jude modifica. hay q modificar el mixin cuando sea definitivo y borrar esta linea
            margin-top: 0;
            margin-bottom: 20px;
          }
        }
        .easy_social_box {
          margin-bottom: 30px;
        }
      }
    }
  }
}
 
