$menu_w: 80%;
$menu_tiger_w: 100px;
#interior {
  width: $menu_w;
  position: fixed;
  left: -$menu_w;
  top: 0px;
  background-color: white;
  z-index: 10;
  #menu-tigger {
    cursor: pointer;
    width: $menu_tiger_w;
    height: 300px;
    background-color: pink;
    position: absolute;
    right: -$menu_tiger_w;
  }
  /** Calendari menu lateral **/
  #cal-line {
    .dia-block {
      display: none;
    }
  }
}
#navigation {
  /*.region-navigation > .block-nice-menus {*/
  position: absolute;
  /*}*/
  #block-nice-menus-1 > ul {
    position: absolute;
    right: 10px;
    & > li {
      display: none;
      &:first-child {
        display: inherit;
      }
    }
  }
}
