
// de on es aquest selector??
/*.node-esdeveniment_agenda-form{
  .form-item-title {
    .form-text.required {
      height: 68px;
      width: 100%;
    }
  }
  .form-item.form-type-textfield.form-item-field-adreca-electronica-und-0-value {
    width:40%;
    .description {
      color: rgba(120, 120, 120, 0.698);
      margin-left: 5px;
      margin-top: -24px;
    }
  }
  .form-item-field-data-ag-und-0-value2-date {
    display: none;
  }
  .date-float {
    display:none;
  }
}*/

// Afegir nou esdeveniment agenda
// En aquesta pagina tambe hi ha el calendari en
// carrousel
.page-node-add-esdeveniment-agenda {
  #main #content {
    form > div {
      $zen-column-count: 3;
      $zen-gutter-width:10px;
      $zen-auto-include-item-base: true;
      @include zen-grid-container();
      .group-header {//form-type-textfield.form-item-title {
        @include zen-grid-item(3,1);
      }
      .group-left {
        @include zen-clear();
        @include zen-grid-item(1,1);
      }
      .group-middle {
        @include zen-grid-item(1,2);
        @include zen-nested-container();
        legend {
          @include zen-grid-item(1,1);
        }
        .fieldset-wrapper {
          @include zen-grid-item(2,2);
        }
      }
      .group-right {
        @include zen-grid-item(1,3);
        .form-item.form-type-hierarchical-select {
          $zen-column-count: 3;
          @include zen-grid-container();
          label {
            @include zen-grid-item(1,1);
          }
          .hierarchical-select-wrapper {
            @include zen-grid-item(2,2);
          }
        }
      }
      .group-footer {
        @include zen-clear();
        @include zen-grid-item(3,1);
      }
    }
    .view-agenda-llista {
    }
  }
}


.page-node-add-esdeveniment-agenda {
  #main {
    #content {
      .breadcrumb {
        display: none;
      }
      h1#page-title {
        @include graphik-bold(40px,$gris7,44px);
        margin-top: 30px;
        padding-left: 40px;
        background: url('../images/agenda.png') no-repeat -30px 0;
      }
      form#esdeveniment-agenda-node-form {
        textarea,
        input {
          background-color: $fons_form;
          padding-left: 10px;
          @include graphik-medium (15px,$form, 21px);
          border: 1px solid;
        }
        .group-header {
          .form-item-title {
            padding-left: 0;
            padding-right: 0;
            input {
              @include graphik-medium (33px,$form, 37px);
            }
          }
        }
        .group-left {
          margin-top: -17px;
        }
        .group-middle {
          margin-top: 0px;
          #edit-field-data-ag {
            fieldset.form-wrapper {
              border: none 0px;
              margin-left: 0px;
              padding-left: 0px;
              legend {
                text-align: center;
                padding-right: 16px;
                margin-top: 20px;
                .fieldset-legend {
                  @include graphik-medium(17px, #888888, 19px);
                }
              }
              .date-float {
                display: none;
              }
              .date-no-float.container-inline-date {
                .form-item {
                  .date-padding {
                    padding: 0;
                    .form-item {
                      .description {
                        display: none;
                      }
                    }
                    .form-item.form-item-field-data-ag-und-0-value-date {
                      margin-bottom: 17px;
                      margin-top: -5px;
                    }
                  }
                }
              }
              date-no-float.start-date-wrapper {
              }
            }
          }
        }
        .group-right {
          margin-top: -17px;
          #edit-field-municipi {
            .form-item {
              label {
                @include graphik-medium(17px, #888888, 19px);
                margin-top: 25px;
              }
              .hierarchical-select-wrapper {
                .hierarchical-select {
                  .selects {
                    .chosen-container.chosen-container-single {
                      a.chosen-single {
                        width: 65% !important;
                      }
                      .chosen-drop {
                        width: 65% !important;
                      }
                    }
                    .form-select {
                      //width: 65% !important;
                    }
                  }
                }
                .nojs {
                  .help-text {
                    display: none;
                  }
                }
              }
            }
          }
        }
        .group-footer {
          margin-top: -20px;
          #edit-body {
            .form-item {
              .form-textarea-wrapper.resizable-textarea {
                .grippie {
                  display: none;
                }
              }
            }
            fieldset {
              display: none;
            }
            .description {
              display: none;
            }
          }
          #edit-field-adjuntar-imatge {
            .form-item {
              label {
                @include graphik-medium(17px, #888888, 19px);
                float: left;
              }
            }
          }
        }
        #edit-actions {
          bottom: 50px;
          display: inline-block;
          position: relative;
          float: right;
          input#edit-submit {
            background-color: $vermell;
            @include public-bold(20px, $blanc, 26px);
          }
        }
      }
      .view-agenda-llista {
        .view-content {
          #cal-line-next.cal-line-pager {
            pointer: cursor;
            background: url('../images/arrowh.png') no-repeat 0px 0px;
            float: left;
          }
          #cal-line-prev.cal-line-pager {
            pointer: cursor;
            background: url('../images/arrowh.png') no-repeat -24px 0px;
            float:right;
          }
          .cal-line-pager {
            display: block;
            width: 24px;
            height: 24px;
            //margin-top: 256px;
          }
          #cal-line.cycle-slideshow {
            margin-top: -110px;
            .cycle-carousel-wrap {
              position: relative !important;
            }
            .dia.cycle-slide {
              vertical-align: top;
              .data,
              .data-avui {
                background: none repeat scroll 0 0 $gris7;
                border-radius: 95px;
                padding: 1px;
                display: block;
                height: 165px;
                width: 165px;
                .num,
                .llet {
                  display: block;
                  text-align: center;
                  color: white;
                }
                .num {
                  @include graphik-regular(53px,$blanc,21px);
                  margin-top: 50px;
                }
                .llet {
                  @include graphik-regular(16px,$blanc,21px);
                  margin-top: 14px;
                  text-transform: uppercase;
                }
              }
              .data-avui {
                border: 5px solid $gris7;
                background-color: $blanc;
                border-radius: 90px;
                height: 160px;
                width: 160px;
                .num,
                .llet {
                  color: $gris7;
                }
                .num {
                  @include graphik-regular(53px,$gris7,21px);
                  margin-top: 50px;
                }
                .llet {
                  @include graphik-regular(16px,$gris7,21px);
                  margin-top: 14px;
                  text-transform: uppercase;
                }
              }
              #event {
                display: inline-block;
                margin-left: 10px;
                width: 100%;
                &:nth-child(even) {
                  background-color: $gris9;
                  border-top: 5px solid $blanc;
                }
                &:nth-child(odd) {
                  background-color: $blanc;
                  border-top: 5px solid $gris9;
                }
                .title {
                  a {
                    @include graphik-semibold(19px,$gris7,21px);
                    white-space: initial;
                  }
                }
                .adreca {
                  @include graphik-regular(16px,$gris4,16px);
                  font-style: italic;
                  white-space: initial;
                }
              }
            }
            .cycle-carousel-wrap {
              .dia.cycle-slide {
                .month-label {
                  margin-top: -18px;
                  border-left: 1px solid $gris7;
                  margin-left: 46%;
                  padding-left: 4px;
                  @include graphik-semibold(10px, $gris7, 12px);
                }
              }
            }
          }
        }
      }
    }
  }
}

