/*COMPLEMENT DIRECTA NODE FINAL */
.node-type-cd-serveis {
  #content {
    $zen-column-count:6;
    $zen-gutter-width:10px;
    @include zen-grid-container();
    .region-highlighted {
      @include zen-grid-item(6,1);
      $zen-column-count:12;
      $zen-gutter-width:10px;
      @include zen-grid-container();
      #block-views-cd-noticias-block-2 {
        @include zen-grid-item(12,1);
        @include zen-clear();
        .views-field-view-node{
          @include zen-grid-item(1,1);
          padding-left:40px;
          margin-top:60px;
          background-image: url("../images/arrow_left");
          background-position: left center;
          background-repeat: no-repeat;
          a {
            @include graphik-medium(15px,$gris3,20px);
            padding-top:30px;
            text-decoration: underline;
          }
        }
        .field-image {
        @include zen-grid-item(2,2);
        }
        .views-field-page-title{      
          @include zen-grid-item(9,4);
          h3 {
            @include graphik-medium(35px,$gris3,40px);
          }
        }
      }
      #block-views-exp-cd-serveis-page-1{
        @include zen-grid-item(12,1);
        @include zen-clear();
        @include graphik-medium(20px,$gris3,26px);
        border-bottom: 1px solid;
        border-top: 1px solid;
        padding-top:20px;
        padding-bottom:20px;
        > h2 {
          display:none;
        }
      }
    
    }
    .node-cd-serveis {
      $zen-column-count:6;
      $zen-gutter-width:10px;
      @include zen-grid-container();
      @include zen-clear();
      @include zen-grid-item(6,1);
      padding-bottom:10px;
      .field-logotip{
        display:block;
        width:30%;
        float:left;
        pading: 0px 10px 4px 0px;
      }
      .field-label{
        @include graphik-medium(18px,$gris3,28px);
        padding-left:34%;
      }
      
      .field-oferta{
        @include graphik-bold(31px,$gris4,40px);
        padding-left:34%;
      }
      .field-body{
        @include graphik-medium(20px,$gris7,26px);
        padding-left:34%;
      }
     .field-adre-a{
        @include graphik-medium(24px,$gris7,40px);
        padding-left:34%;
     }
      .field-web{
        @include graphik-medium(24px,$gris7,40px);
      }
      .field-tipus-de-servei{
        @include graphik-medium(22px,$gris4,30px);
        margin-left:34%;
        background-color: rgba(230, 230, 230, 0.8);
        padding:5px;
        display:inline;
      }
    }
  
  
  }

}
/*COMPLEMENT DIRECTA Llista Genera*/
#content {
  $zen-column-count:6;
  $zen-gutter-width: 50px;
  @include zen-grid-container();
  #page-title {
    display:none;
  }
  .region-highlighted{
    @include zen-grid-item(6,1);
    #block-views-cd-noticias-block{
      @include zen-grid-item(6,1);
      @include zen-clear();
      
      .field-image {
      
      @include zen-grid-item(1,1);
      }
      .views-field-page-title{      
        @include zen-grid-item(5,2);
        h3 {
          @include graphik-medium(35px,$gris3,40px);
        }
      }
      .field-body{
        @include zen-clear(); 
        @include zen-grid-item(6,1);
      }
    }
    #block-views-cd-serveis-block{
      @include zen-grid-item(6,1);
      @include zen-clear();
      .view-cd-serveis {
        @include zen-grid-item(6,1);
        .generic{
          @include zen-grid-item(6,1);
          background-color: rgb(58, 58, 58);
          padding: 20px;
          .esquerra{
            background: none repeat scroll 0 0 rgb(255, 255, 255);
            min-height: 230px;
            @include zen-grid-item(2,1);
            .field-tipus-de-servei{
              a {
                @include graphik-medium(15px,$gris4,24px); 
              }
            }
          }
          .dreta {
            @include zen-grid-item(4,3);
            a {
              
            }
            .field-oferta{
              @include graphik-medium(26px,$gris4,26px);
            }
            .field-body{
              @include graphik-medium(19px,$gris4,26px);
            }
            #subscriu {
              @include zen-grid-item(2,1);
              @include subscriute(10px);         
            }
            #text {
              @include zen-grid-item(4,3);
              @include graphik-medium(17px,$gris4,26px);
            }
          }
        }

      }
    }
    #block-views-exp-cd-serveis-page-1{
      @include zen-grid-item(6,1);
      @include zen-clear();
    }
    @include zen-clear();
  }
  .view-id-cd_serveis.view-display-id-page_1{
    @include zen-grid-item(6,1);
    @include zen-clear();
    $zen-gutter-width:20px;
    .views-row{
      padding:30px;
      @include border-radius(4px);
      width:90%;
      margin: 12px auto;
      .field-logotip{
        text-align:center;
      }
    }
    .views-row:nth-child(3n+1){
      @include zen-grid-item(2,1);     
      @include zen-clear();
      .views-field-title{
        @include graphik-medium(19px,$gris3,23px); 
      }
      .field-oferta{
        @include graphik-medium(24px,$gris4,26px); 
      }
      .field-tipus-de-servei {
        border-radius: 3px 3px 3px 3px;
        display: inline-block;
        margin-top: 20px;
        padding: 5px;
        width: auto;
        background-color:rgba(220,220,220,0.8);
        a {
          @include graphik-medium(16px,$gris3,23px);
        }
      }
      .views-field-view-node{
        a {
          @include graphik-medium(14px,$gris3,23px);
        }
      }
    }
    .views-row:nth-child(3n+2){
      @include zen-grid-item(2,3);
      .views-field-title{
        @include graphik-medium(19px,$gris3,23px); 
      }
      .field-oferta{
        @include graphik-bold(24px,$gris4,26px); 
      }
      .field-tipus-de-servei {
        border-radius: 3px 3px 3px 3px;
        display: inline-block;
        margin-top: 20px;
        padding: 5px;
        width: auto;
        background-color:rgba(220,220,220,0.8);
        a {
          @include graphik-medium(16px,$gris3,23px);
        }
      }
      .views-field-view-node{
        a {
          @include graphik-medium(14px,$gris3,23px);
        }
      }
    }
    .views-row:nth-child(3n+3){
      @include zen-grid-item(2,5);
      .views-field-title{
        @include graphik-medium(19px,$gris3,23px); 
      }
      .field-oferta{
        @include graphik-medium(24px,$gris4,26px); 
      }
      .field-tipus-de-servei {
        border-radius: 3px 3px 3px 3px;
        display: inline-block;
        margin-top: 20px;
        padding: 5px;
        width: auto;
        background-color:rgba(220,220,220,0.8);
        a {
          @include graphik-medium(16px,$gris3,23px);
        }
      }
      .views-field-view-node{
        a {
          @include graphik-medium(14px,$gris3,23px);
        }
      }
    }
  }
}
