/**Fulla d'estils de la Directa**/

@import "directamixins";

a {
  @include enllac-net;
}

/*AMAGATS*/
.header__logo-image {
  display:none;
}




/*HEADER*/
.region-header {
  margin-bottom:-20px;
  padding-top:15px;
}


.html #header #logo {
 @include logo(); 
}
#header {
  margin-top:10px;
  padding-top:10px;
  @include header-shadow;
}



#block-user-login {
}

#block-block-4 {
  @include bseccio;
    background-image:url('../images/menu_arrow_down');
    background-repeat:no-repeat;
    background-position: 8px 8px;
    height:auto;
    background-color:$gris7;
    text-align:right;
    border-radius:5px;
}

#block-block-2 {
  border-left:1px solid $gris2;
  border-right:1px solid $gris2;
  .fb {
    @include back;
      background-image:url('../images/fb.png');
  }
  .tw {
    @include back;
    background-image:url('../images/tw.png');
  }
  .vi {
    @include back;
    background-image:url('../images/vi.png');
  }
}
#block-views-exp-hemeroteca-page-1 {
  /**/
  @include buscador;
  }
  .views-exposed-form #edit-search-api-views-fulltext-wrapper {
    padding:0px;
  }



#block-block-5,
#secondary-menu {
  display: none; /*wip*/
  @include bsessio;
  a {
    padding: 0;
    background-color:#e5e5ee5;
    @include back;
    background-image:url('../images/arrow_down');
    content:"";
    display:block;
    width:auto;
    background-position:85px 11px;
    border-radius:5px;
    height:auto;
  }
}
#block-block-1 {
  @include bsubs;
  border-radius:5px;
}

/*MENU*/
.front #main-menu {
  display:none;
}

ul.nice-menu {
  border-top: 0;
}

#navigation {
  @include menu-shadow;
  padding-top:20px;
  margin-bottom:20px;


ul.nice-menu a {
  @include tit-menu;
}
ul.nice-menu li {
  background-color: $blanc;
  border: 0;
  width:90%;
}

ul li.odd  {
  border-left: 1px solid $gris7;
  padding-left: 5px;
  //margin-left:20px;
  }


#block-nice-menus-1 {
  .block-title {
    @include tit-menu;
    @include block-tit; 
  }
  li {
  border-left: 0;
  padding-left: 0;
  @include territori-caixa;
  a {
    @include territori;
  }
}
}
  ul.nice-menu ul {
    top:2.8em;
  }
}


.mark {
  color:none;
}


/*ESTILS DE TEXT*/


.field-seccio-web {
  background-color:$gris7;
  a {
    @include seccio;
  }
}
.field-seccio {
  background-color:$gris7;
  a {
    @include seccio;
  }
}
a.autor {
  @include autoria;
}
span.date-display-single {
  @include data;
}

/*DESTACAT 3 COLUMNES*/
.view-portada-destacadotodascolumnas.view-display-id-block {
  .field-fotografies {
  }
  .field-seccio {
    background-color:$gris7;
    a {
      @include seccio;
    }
  }
  a.autor {
    @include autoria;
  }
  span.date-display-single {
    @include data;
  }
  .views-field-title a {
    @include titular-3col;
  }
  .field-body {
    @include entradilla-3col;
  }
  .field-continguts-relacionats-ref {
    background-color:$gris7;
  }
 

  .pretitular,
  .views-field-title a,
  .field-body,
  .field-continguts-relacionats-ref {
  }
  .pretitular {
    display:block-inline;
  }
}
.view-portada-destacadotodascolumnas {
  .view-display-id-attachment_2 {
      td.col-1 {
      }
      td.col-2 {
      }
      td.col-3 {
      }
  }
}




/*COLUMNA NOTICIES (ESQUERRA)*/
.view-portada-columnaizquierda.view-display-id-block_1 {
  h2.node-title a {
    @include titular-not;
  }
}
/*FOOTER*/
#footer {
  background-color: $gris7;
  h2 {
    display: none;
  }
  #block-views-exp-hemeroteca-page-1--2 {
    @include buscador;
  }
  #block-menu-menu-menu-footer {
    @include menu-general-horizontal;
    a {
      @include graphik-regular(16px,$blanc,40px);
    }

  }
  #block-nice-menus-2,
  #block-nice-menus-2--2 {
    @include menu-seccions ($gris7,$blanc);
    ul {
      background-image: url('../images/adj5.png');
    }
  } 
  #block-nice-menus-3,
  #block-nice-menus-3--2 {
    @include menu-seccions($gris7,$blanc);
    ul {
      background-image: url('../images/adj4.png');
    }
  }
  #block-menu-menu-menu-xxss {
    @include menu-seccions($gris7,$blanc);
    ul {
      background-image: url('../images/share2.png');
      margin-top: 0;
      li {
        border-left: 1px solid $blanc;
      }
    }
  }

}

     
    
  






/**USER LOGIN PAGE**/
.not-logged-in.page-user {
  #user-pass,
  #edit-account,
  #user-login {
    @include reset-login;
    .form-item {
      @include box-shadow;
    }
    @include reset-button;
  }
  h1#page-title{
    @include logo();
    text-align: center;
    width:auto;
    padding-top:40px;
    margin-bottom:40px;
    background-position: top center;
  }
  #block-block-5--2 {
    @include bsubs;
    padding-top:20px;
    padding-bottom:20px;
    h2 {
      display: none;
    }
  }
  
  #block-block-6, 
  #block-block-8, 
  #block-block-5--2 {
    h2 {
      display:none;
    }
  }
}



