/**Fulla d'estils de la Directa**/

@import "directamixins";

a {
  @include enllac-net;
}

/*AMAGATS*/
.header__logo-image {
  display:none;
}




/*HEADER*/
.html #header #logo {
  @include sprite;
  position:absolute;
  width:134px; 
  height:40px; 
}
#header {
  margin-top:10px;
  padding-top:10px;
  @include header-shadow;
}

#block-user-login {
  display:none;
}

#block-block-4 {
  @include bseccio;
  text-align:right;
  a {
      @include sprite;
      display:block;
      content:"";
      background-position:-129px 4px;
      background-image-size:19px 12px;
  }
}

#block-block-2 {
  
  .fb,
  .tw,
  .vi {
    display:inline;
    @include sprite;
    padding-right:5px;
    width:21px;
    height:29px;
    background-position:-161px 8px;
    display:block;
    content:"";
    img {
      display:none;
    }
  }
}
  html.js input.form-autocomplete {
    @include sprite;
  } 



#secondary-menu {
  @include bsessio;
}
#block-block-1 {
  @include bsubs;
}

/*MENU*/
.front #main-menu {
  display:none;
}

#navigation {
  @include menu-shadow;
}


ul.nice-menu a {
  @include tit-menu;
}
.mark {
  color:none;
}


/*ESTILS DE TEXT*/

.field-seccio {
  background-color:$gris7;
  a {
    @include seccio;
  }
}

a.autor {
  @include autoria;
}
span.date-display-single {
  @include data;
}

/*DESTACAT 3 COLUMNES*/
.view-portada-destacadotodascolumnas.view-display-id-block {
  .field-fotografies {
  }
  .field-seccio {
    background-color:$gris7;
    a {
      @include seccio;
    }
  }
  a.autor {
    @include autoria;
  }
  span.date-display-single {
    @include data;
  }
  .views-field-title a {
    @include titular-3col;
  }
  .field-body {
    @include entradilla-3col;
  }
  .field-continguts-relacionats-ref {
    background-color:$gris7;
  }
 

  .pretitular,
  .views-field-title a,
  .field-body,
  .field-continguts-relacionats-ref {
  }
  .pretitular {
    display:block-inline;
  }
}
.view-portada-destacadotodascolumnas {
  .view-display-id-attachment_2 {
      td.col-1 {
      }
      td.col-2 {
      }
      td.col-3 {
      }
  }
}




/*COLUMNA NOTICIES (ESQUERRA)*/
.view-portada-columnaizquierda.view-display-id-block_1 {
  h2.node-title a {
    @include titular-not;
  }
}



