
@import "publico";
@import "graphic";

/*COLORS*/
$gris2:#767676;
$gris3:#777; 
$gris4:#9A9A9A;
$gris5:#939393;
$gris6:#D3D3D3; /*fil d'ariadna*/
$gris7:#5E5E5E; /*inicia sessio*/
$vermell:#C13432;
$blanc: #FFFFFF;
$negre:#030303;


/*Transversals*/
@mixin enllac-net {
  text-decoration:none;
  padding: 0;
}
@mixin sprite {
  background-image:url('../images/sprites.png');
  background-repeat:no-repeat;
}

@mixin back {
  background-repeat:no-repeat;
  display:block;
  content:"";
  width:20px;
  height:20px;
}
@mixin reset-button {
  .form-action { 
    border: none;  
    padding-top:5px;
    width:100%;
    margin-top:15px;
  }
  button, 
  input[type="button"], 
  input[type="reset"], 
  input[type="submit"] {
    border: none;  
    padding-top:5px;
    width:100%;
    margin-top:15px;
  }
 }

/*logo*/
 @mixin logo() {
   background-image:url('../images/logo.png');
   background-repeat:no-repeat;
   display:block;
   content:"";
   width:132px;
   height:39px;
 }



/*Botones*/
@mixin bseccio {
  a {
    font-family:'graphikmedium';
    font-size:16px;
    color:$blanc;
    background-color:$gris7;
    font-weight:normal;
    text-align:right;
    padding-right:5px;
  }
}
@mixin bsessio {
  a {
    font-family:'graphikmedium';
    font-size:17px;
    color:$gris7;
  }
  background-color:$gris6;
  text-align:center;
  padding:3px;
}
@mixin bsubs {
  a {
    font-family:'publico_textroman';
    font-size:18px;
    color:$blanc;
  }
  background-color:$vermell;
  text-align:center;
  padding:3px;
}
@mixin bform {
  font-family:'graphikmedium';
  font-size:21px;
  font-color:$gris4;
}


/*Menu*/


@mixin tit-menu {
  font-family:'graphik_regularregular';
  font-weight: normal;
  font-size:14px;
  color:$gris7;
  text-transform:uppercase;
  line-height:26px;
  @include enllac-net ;
  &:hover {
    font-family:'graphiksemibold';
    color:$vermell;
    font-size:14px;
    line-height:26px;
  }
}
@mixin block-tit {
  font-family:'graphiksemibold';
  color:$gris7;
  font-size:14px;
  padding-bottom:5px;
  padding-left:10px;
}
  
@mixin territori {
  font-family:'graphiksemibold';
  font-size:16px;
  color:$blanc;
  text-transform: none;
  font-weight:normal;
}

@mixin territori-caixa {
  background-color: $gris2;
  padding: 10px;
  border-bottom: 1px solid $gris7;
}

@mixin breadcrumb {
  font-family:'graphikmedium';
  font-size:17px;
  font-color:$gris6;
  .a {
    text-decoration:underline;
  }
}
/*shadows*/

@mixin header-shadow {
  -webkit-box-shadow: 0px 10px 11px -11px rgba(233,233,233,1);
  -moz-box-shadow: 0px 10px 11px -11px rgba(233,233,233,1);
  box-shadow: 0px 10px 11px -11px rgba(233,233,233,1);
}


@mixin menu-shadow {
 -webkit-box-shadow: inset 0px 15px 12px -12px rgba(233,233,233,1);
 -moz-box-shadow: inset 0px 15px 12px -12px rgba(233,233,233,1);
  box-shadow: inset 0px 15px 12px -12px rgba(233,233,233,1); 
}
@mixin line-gradient {
    background: radial-gradient(ellipse at center, rgba(0,0,0,0.1) 0%,rgba(0,0,0,0) 75%);
}
@mixin box-shadow {
 -webkit-box-shadow: inset 0px 15px 12px 0px rgba(233,233,233,1);
 -moz-box-shadow: inset 0px 15px 12px 0px rgba(233,233,233,1);
  box-shadow: inset 0px 15px 12px 0px rgba(233,233,233,1); 
}


/*ESTILS DE TEXT*/

@mixin seccio {
  font-family:'graphiksuper';
  color:$blanc;
  font-size:19px;
  @include enllac-net;
}

@mixin autoria {
  color:$gris3;
  text-transform:uppercase;
  padding-left:5px;
  padding-right:5px;
  a {
    text-transform:underline;
  }
}
@mixin data {
  color: $gris3;
  a {
    text-transform:underline;
  }
}
/*Destacat a 3 columnes*/
@mixin titular-3col {
  font-family:'graphiksemibold';
  font-size:40px;
  line-height:46px;
  color:$gris7;
  text-align:left;
}
@mixin entradilla-3col {
  font-family:'publico_textroman';
  font-size:22px;
  line-height:30px;
  color:$gris7;
}


@mixin titular-not-rel-dest {
  font-family:'graphiksemibold';
  font-size:24px;
  line-height:30px;
  color:$gris7;
}
@mixin entradilla-not-rel-dest {
  font-family:'publico_textsemibold';
  font-size:21px;
  line-height:26px;
  color:$gris2;
}

@mixin titular-not {
  font-family:'graphiksemibold';
  font-size:36px;
  line-height:40px;
  color:$gris7;
  font-weight:normal;
}
 
/*LOGIN*/
@mixin reset-login() {
  label,
  .description {
    display:none;
  }
  .form-item {
    margin: 0;
  }
}


















