
@import "publico";
@import "graphic";

/*COLORS*/
$gris2:#767676;
$gris3:#777; 
$gris4:#9A9A9A;
$gris5:#939393;
$gris6:#D3D3D3; /*fil d'ariadna*/
$gris7:#5E5E5E; /*inicia sessio*/
$vermell:#C13432;
$blanc: #FFFFFF;
$negre:#030303;
$fons: #e9e9e9; /*gris de fons*/


/*MIXINS FONTS*/

@mixin graphik-regular($font-size,$color,$line-height){
  font-family:'graphik_regularregular';
  font-size:$font-size;
  color:$color;
  line-height:$line-height;
  font-weight: normal;
}
@mixin graphik-medium($font-size,$color,$line-height){
  font-family:'graphikmedium';
  font-size:$font-size;
  color:$color;
  line-height:$line-height;
  font-weight: normal;
}
@mixin graphik-semibold($font-size,$color,$line-height){
  font-family:'graphiksemibold';
  font-size:$font-size;
  color:$color;
  line-height:$line-height;
}
@mixin graphik-bold($font-size,$color,$line-height){
  font-family:'graphikbold';
  font-size:$font-size;
  color:$color;
  line-height:$line-height;
}
@mixin graphik-super($font-size,$color,$line-height){
  font-family:'graphiksuper';
  font-size:$font-size;
  color:$color;
  line-height:$line-height;
}
@mixin public-bold($font-size,$color,$line-height){
  font-family:'publico_textsemibold';
  font-size:$font-size;
  color:$color;
  line-height:$line-height;
}
@mixin public-roman($font-size,$color,$line-height){
  font-family:'publico_textroman';
  font-size:$font-size;
  color:$color;
  line-height:$line-height;
}


/*SHADOWS*/

@mixin header-shadow {
  -webkit-box-shadow: 0px 10px 11px -11px rgba(233,233,233,1);
  -moz-box-shadow: 0px 10px 11px -11px rgba(233,233,233,1);
  box-shadow: 0px 10px 11px -11px rgba(233,233,233,1);
}

@mixin menu-shadow {
 -webkit-box-shadow: inset 0px 15px 12px -12px rgba(233,233,233,1);
 -moz-box-shadow: inset 0px 15px 12px -12px rgba(233,233,233,1);
  box-shadow: inset 0px 15px 12px -12px rgba(233,233,233,1);
}
@mixin line-gradient {
 background: radial-gradient(ellipse at center, rgba(0,0,0,0.1) 0%,rgba(0,0,0,0) 75%);
}
@mixin box-shadow {
 -webkit-box-shadow: inset 0px 15px 12px 0px rgba(233,233,233,1);
 -moz-box-shadow: inset 0px 15px 12px 0px rgba(233,233,233,1);
  box-shadow: inset 0px 15px 12px 0px rgba(233,233,233,1); 
}
@mixin login-shadow {
-webkit-box-shadow: inset 0px 0px 2px 2px rgba(227,227,227,1);
-moz-box-shadow: inset 0px 0px 2px 2px rgba(227,227,227,1);
box-shadow: inset 0px 0px 2px 2px rgba(227,227,227,1);
}



/*FORMATOS DE TEXTO INTERNOS*/

@mixin titulo-not {
  @include graphik-bold(46px,$gris7,56px);
  padding-top: 5px;
  padding-bottom: 5px;
}
@mixin titulo-fotogaleria {
  @include graphik-bold(32px,$gris7,36px);
}
@mixin subtitulo-not {
  @include graphik-medium(33px, $gris3,40px);
  padding-top: 5px;
  padding-bottom: 5px;
}
@mixin body {
  @include public-roman(23px, $gris7, 32px);
}
@mixin peu-foto {
  @include public-roman(16px, $gris3, auto);
  text-transform: uppercase;
  .p {
  @include public-roman(16px,#000000, auto);
  text-transform: none;
  }
}

@mixin seccio {
  background-color: $gris7;
  padding: 5px; 
  a {
    @include enllac-net;
    @include graphik-super(19px,$blanc,19px);
    font-weight: normal;
  }
}

@mixin autoria {
  color:$gris3;
  text-transform:uppercase;
  padding-left:5px;
  padding-right:5px;
  a {
    text-transform:underline;
  }
}
@mixin data {
  color: $gris3;
  a {
    text-transform:underline;
  }
}

@mixin tagadelic {
  a {
    font-family: 'graphiksemibold';
    color: $negre;
    line-height: 30px;
  }
}

@mixin cont-rel() {
  //background-color: $fons;
  .field-continguts-relacionats {
    background-color:$fons;
    margin:0px;
    .field-collection-view-final {
      margin: 0;
      width:100%;
      thead {
        display:none;
      }
      tbody {
        .field_collection_item  {
          background-color: $fons;
          border: none;
          .field-continguts-relacionats-ref {
            padding-bottom:10px;
            padding-top:10px;
            a {
              @include public-roman(17px, $gris7, 22px);
              text-decoration: underline;
              padding-left:40px;
            }
          }
          
        }
      }
    }
  }
}

@mixin not-rel() {
    h3.field-label {
      @include graphik-medium(33px, $gris3, 37px);
      padding-bottom: 0;
      margin-botttom: 0;
      border-top: solid 1px $fons;
      margin-top: 10px;
      padding-top:10px;
    }
  .field-contingut-relacionat .field-collection-view {
    .node__title a {
      @include graphik-semibold(33px, $gris7, 37px);
    }
    .field-body {
      @include public-roman(21px, $gris7, 26px);
    }
  }
}


@mixin etiquetes {
  a {
    @include public-roman(17px, $gris7, 22px);
    text-decoration: underline;
  }
}


@mixin portada-numero {
  .field-portada-numero {
    img {
      border:5px solid $fons;
    }
  }
}

/*BOTONES*/
@mixin subscriute($padding) {
  background-color:$vermell;
  border-radius: 5px;
  text-align: center;
  padding-left:0px;
  padding-right:0px;
  padding-top: $padding;
  padding-bottom: $padding;
  a {
    @include public-bold(24px,$blanc,24px);
  }
}



/*MIXINS FORMULARIOS*/
@mixin user-login {
  .form-item {
    input,
    button, 
    select, 
    textarea {
      border: none;
      @include graphik-medium(21px,#9a9a9a,auto);
      font-weight:normal;
      text-align:center;
      @include login-shadow;
      padding:5px
    }
  }
  .form-actions {
    button, 
    input, 
    select, 
    textarea {
      border: none;
      @include graphik-medium(17px,$gris7,auto);
      font-weight:normal;
      text-align:center;
      @include login-shadow;
      padding:5px;
    }
  }
}
@mixin inicia($padding) {
  padding: 0;
  @include login-shadow;
  text-align: center;
  background-color: $fons;
  a {
    padding-top: $padding;
    padding-bottom: $padding;
    @include graphik-medium(17px,$gris7,auto);
  }
}





/*Transversals*/
@mixin enllac-net {
  text-decoration:none;
  padding: 0;
}
@mixin sprite {
  background-image:url('../images/sprites.png');
  background-repeat:no-repeat;
}

@mixin back {
  background-repeat:no-repeat;
  display:block;
  content:"";
  width:20px;
  height:20px;
}
@mixin background ($width,$height) {
  background-repeat:no-repeat;
  display:block;
  content:"";
  width:$width;
  height:$height;
}
@mixin back-simple {
  background-repeat: no-repeat;
  display: block;
  content:"";
}
@mixin block-mlateral(){
  .block {
    .block__title {
    @include graphik-medium(26px, $gris2, 31px);
    padding-left:35px;
      background-repeat: no-repeat;
      display:block;
      content: "";
      width:100%;
      height:30px;
      background-position: -30px 0;
      &:hover {
        background-position: 0 0;
      }
    }
    .views-field-title a {
      @include graphik-semibold (22px, $gris7, 26px);
    }
    .field-body {
      @include graphik-medium(19px, $gris2, 24px);
    }
    .field-oferta {
      @include graphik-bold(24px, $gris4, 26px);
    }
    .field-tipus-de-servei a {
      @include graphik-medium(15px, $gris3, 18px);
      background-color: $fons;
      padding: 2px;
    }
    .views-field-view-node a {
      @include graphik-medium(16px, $gris7, 19px);
      text-decoration: underline;
    }

    }
}


@mixin reset-button {
  .form-action { 
    border: none;  
    padding-top:5px;
    width:100%;
    margin-top:15px;
  }
  button, 
  input[type="button"], 
  input[type="reset"], 
  input[type="submit"] {
    border: none;  
    padding-top:5px;
    width:100%;
    margin-top:15px;
  }
 }

/*logo*/
 @mixin logo() {
   background-image:url('../images/logo.png');
   background-repeat:no-repeat;
   display:block;
   content:"";
   width:132px;
   height:39px;
 }



/*Botones*/
@mixin bseccio {
  a {
    font-family:'graphikmedium';
    font-size:16px;
    color:$blanc;
    background-color:$gris7;
    font-weight:normal;
    text-align:right;
    padding-right:5px;
  }
}
@mixin bsessio {
  a {
    font-family:'graphikmedium';
    font-size:17px;
    color:$gris7;
  }
  background-color:$gris6;
  text-align:center;
  padding:3px;
}
@mixin bsubs {
  border-radius:5px;
  background-color:$vermell;
  text-align:center;
  //padding:3px;
  a {
    font-family:'publico_text_bold';
    font-size:18px;
    color:$blanc;
  }
}
@mixin bform {
  font-family:'graphikmedium';
  font-size:21px;
  font-color:$gris4;
}

@mixin buscador() {
  html.js,
  html.js input.form-autocomplete,
  input.form-autocomplete {
    background-image:url('../images/vi.png');
    background-repeat:no-repeat;
    background-position: right;
    display:block;
    content:"";
    border:1px solid $gris2;
    height:28px;
  }
  .views-exposed-form #edit-search-api-views-fulltext-wrapper {
    padding:0px;
  }
  .views-submit-button {
    display:none;
  }
}


/*Menus*/

@mixin menu-general-horizontal {
  ul {
    margin-top: 10px;
    margin-bottom: 10px; 
    padding-left: 0;
    padding-right: 0;
    li {
      list-style: none;
      display: inline;
      padding-right:20px;
    }
  }
}

@mixin menu-seccions($color,$border) {
  ul {
    padding-left:30px;
    background-repeat: no-repeat;
    background-position:0 0;
    li {
      list-style: none;
      background-color:$color;
      border: none;
      &.odd {
        border-left: 1px solid $border;
      }
      a {
        padding: 0 0 0px 10px;
      }
    }
  }
}

@mixin menu-lateral {
    h2.block__title {
      padding-bottom:5px;
      border-bottom: 1px solid $gris7;
      margin-bottom:5px;
    }
  }
 

//EASY SOCIAL//

@mixin easysocial {
  .easy_social_box {
  }
}










@mixin tit-menu {
  font-family:'graphik_regularregular';
  font-weight: normal;
  font-size:14px;
  color:$gris7;
  text-transform:uppercase;
  line-height:26px;
  @include enllac-net ;
  &:hover {
    font-family:'graphiksemibold';
    color:$vermell;
    font-size:14px;
    line-height:26px;
  }
}
@mixin block-tit {
  font-family:'graphiksemibold';
  color:$gris7;
  font-size:14px;
  padding-bottom:5px;
  padding-left:10px;
}
  
@mixin territori {
  font-family:'graphiksemibold';
  font-size:16px;
  color:$blanc;
  text-transform: none;
  font-weight:normal;
}

@mixin territori-caixa {
  background-color: $gris2;
  padding: 10px;
  border-bottom: 1px solid $gris7;
}

@mixin breadcrumb {
  font-family:'graphikmedium';
  font-size:17px;
  font-color:$gris6;
  .a {
    text-decoration:underline;
  }
}
/*shadows*/

@mixin header-shadow {
  -webkit-box-shadow: 0px 10px 11px -11px rgba(233,233,233,1);
  -moz-box-shadow: 0px 10px 11px -11px rgba(233,233,233,1);
  box-shadow: 0px 10px 11px -11px rgba(233,233,233,1);
}


@mixin menu-shadow {
 -webkit-box-shadow: inset 0px 15px 12px -12px rgba(233,233,233,1);
 -moz-box-shadow: inset 0px 15px 12px -12px rgba(233,233,233,1);
  box-shadow: inset 0px 15px 12px -12px rgba(233,233,233,1); 
}
@mixin line-gradient {
    background: radial-gradient(ellipse at center, rgba(0,0,0,0.1) 0%,rgba(0,0,0,0) 75%);
}
@mixin box-shadow {
 -webkit-box-shadow: inset 0px 15px 12px 0px rgba(233,233,233,1);
 -moz-box-shadow: inset 0px 15px 12px 0px rgba(233,233,233,1);
  box-shadow: inset 0px 15px 12px 0px rgba(233,233,233,1); 
}


/*ESTILS DE TEXT*/


/*Destacat a 3 columnes*/
@mixin titular-3col {
  font-family:'graphiksemibold';
  font-size:40px;
  line-height:46px;
  color:$gris7;
  text-align:left;
}
@mixin entradilla-3col {
  font-family:'publico_textroman';
  font-size:22px;
  line-height:30px;
  color:$gris7;
}


@mixin titular-not-rel-dest {
  font-family:'graphiksemibold';
  font-size:24px;
  line-height:30px;
  color:$gris7;
}
@mixin entradilla-not-rel-dest {
  font-family:'publico_textsemibold';
  font-size:21px;
  line-height:26px;
  color:$gris2;
}

@mixin titular-not {
  font-family:'graphiksemibold';
  font-size:36px;
  line-height:40px;
  color:$gris7;
  font-weight:normal;
}
 
/*LOGIN*/
@mixin reset-login() {
  label,
  .description {
    display:none;
  }
  .form-item {
    margin: 0;
  }
}


















