//Estatiques

.page-colabora {
  .messages--error  { //amagant missatges d'error temporalment
    display: none;
  }
}

.page-node-13270 {
   #page-title {
     background-image: url("../images/avio.png");
     background-position: left center;
     background-repeat: no-repeat;
     color: rgb(119, 119, 119);
     margin-left: 70px;
     padding-left: 50px;
     padding-top: 0; 
     margin-bottom:-50px  
   }
    article {
     margin-left:50px;
   }
}

////Quisom
.page-node-11672 {
   h1 {
    background-image: url("../images/help.png");
    background-position: left center;
    background-repeat: no-repeat;
    color: #5e5e5e;
    font-size: 40px;
    font-weight: bold;
    line-height: 1.5em;
    margin-left: 60px;
    padding-left: 50px; 
   }
   article {
     margin-left: 60px;
   }
 }

////Colabora
.page-colabora{
  #main {
    $zen-column-count:23;
    $zen-gutter-width:10px;
    @include zen-grid-container(); 
    #content {     
      @include zen-grid-item(23,1);
      .page__title.title {
          @include zen-grid-item(23,1);
          border-bottom: 1px solid red; //PROVISIONAL
          background-image: url("../images/share.png");
          background-position: left center;
          background-repeat: no-repeat;
          color: #777777;
          //margin-left: 70px;
          padding-left: 50px;
          //margin-bottom: 50px;
          padding-bottom: 20px;
          padding-top: 20px;
          margin-top: 35px;
          @include graphik-bold(35px, $gris7, 40px);
      }
      .view { 
        //padding-left:100px;
        @include zen-clear();
        @include zen-grid-item(17,1);
        article {
           .node__title.node-title{
             @include graphik-regular(40px,$gris7,45px);
           }
           .field-body {
             @include graphik-regular(22px,$gris3,33px);
           }
           fieldset {         
             padding-bottom: 70px;           
             border-bottom-width: 1px;
             margin-bottom: 40px;
             border-top-width: 1px; 
             &.collapsed {
               border-top-width: 0px;
             }
             
             legend {  
               @include box-shadow(rgba(200,200,200,0.8) 0px 0px 34px 3px inset);  
               float: right;
               padding:  5px;
               border-radius: 5px;

               .fieldset-legend {
                 background-image:none; 
                 padding-left: 5px;
                 .fieldset-title{
                   color: #777777;
                 }
               }
             }
             .fieldset-wrapper  { 
               #webform-component-missatge {
                 input {
                   height: 200px;
                 }
               }
             }
         }
      }    
    }
  }  
    .sidebars {
      @include zen-grid-item(6,18);
      margin-top: 250px;
    }
  }
    .webform-client-form-11465 {// graella formulario --> no funciona. S'ha de revisar en conjunt la graella del node
      $zen-colum-count: 2;
      $zen-gutter-width: 10px;
      @include zen-nested-container();
      #webform-component-nom {
        @include zen-grid-item(1,1);
      }
      #webform-component-adreca {
        @include zen-grid-item(1,2);
      }
      #webform-component-assumpte {
        @include zen-clear();
        @include zen-grid-item(2,1);
      }
      #webform-component-missatge {
        @include zen-clear();
        @include zen-grid-item(2,1);
      }
      
      
  }
}
  

