// Hemeroteca

.page-hemeroteca {
  #content { 
    margin-left:30px;     
    $zen-column-count:6;
    $zen-gutter-width:10px;                                                                                   
    @include zen-grid-container();
    #page-title {
      display:none;
    }
    .views-exposed-widgets {
      /**
       * estils generics del formulari
       */
      /*http://css-tricks.com/snippets/css/glowing-blue-input-highlights/*/
      input[type=text], textarea {
        -webkit-transition: all 0.30s ease-in-out;
        -moz-transition: all 0.30s ease-in-out;
        -ms-transition: all 0.30s ease-in-out;
        -o-transition: all 0.30s ease-in-out;
        outline: none;
        padding: 3px 0px 3px 3px;
        margin: 5px 1px 3px 0px;
        border: 1px solid $gris9;
        background-color: $input_bg;
        background-position: 100% 50%;
        background-repeat: no-repeat;
        @include graphik-medium(14px, $gris3, 18px);
        padding-left: 6px;
        color: #bababa;
      }
      input[type=text]:focus, textarea:focus {
        box-shadow: 0 0 5px $gris6;
        padding: 3px 0px 3px 3px;
        margin: 5px 1px 3px 0px;
        border: 1px solid $gris6;
      }
      @include zen-grid-item(6,1); 
      $zen-column-count:12;
      $zen-gutter-width:10px;                                                                                   
      @include zen-grid-container();
          /*.views-exposed-widget.views-widget-filter-search_api_views_fulltext {*/
          /*width:100%;*/
          /*}*/
      #edit-search-api-views-fulltext-wrapper  {   
        @include zen-clear(); 
        @include zen-grid-item(12,1);
        /*$zen-column-count:6;*/
        /*@include zen-grid-container(); */  
        label {
          display: none;
        }
        .form-text {
          @include zen-grid-item(12,1);
          height: 50px;
          padding-left: 12px;
          @include graphik-medium(30px, #bababa, 34px);
          background-position: 99% 50%;
        }
        @include zen-clear(); 
      }  
      /** quiron **/
      #edit-search-api-views-fulltext-wrapper {
        @include zen-grid-item(12,1);
        @include zen-clear(); 
        margin-bottom: 30px;
        .form-text.form-autocomplete {
          background-color:rgb(252,246,246);
        }
        & > label {
          display: none; 
        }   
      }
      #edit-field-data-wrapper {
        @include zen-clear(); 
        @include zen-grid-item(3,5);  
        .views-widget {
          display: inline-block;
          width:50%;
        }
        label {
          width:60px; 
          display:inline-block;
          @include graphik-regular(16px, #888888, 24px);
        }
        .form-item.form-type-textfield.form-item-field-data-date > label {
          display: none;
        } 
        .description {
          margin-left: -130%;
          width: 130%;
          margin-bottom: 15px;
          margin-top:-25px;
          @include graphik-semibold(18px,#888888, 21px);
        }
        #edit-field-data-datepicker-popup-0 {
          max-width:50%;
          
        }
      }
      #edit-field-data-1-wrapper {
        @include zen-clear(); 
        @include zen-grid-item(3,5);
        margin-top: -20px;
        .views-widget {
          display: inline-block;
          width:50%;
        }
        label {
          width:60px; 
          display:inline-block;
          color: rgb(136, 136, 136);
          font-family: arial;
          font-weight: lighter;
        }
        .form-item.form-type-textfield.form-item-field-data-1-date > label {
          display: none;
        }
        #edit-field-data-1-datepicker-popup-0{
          max-width:50%;
        }
      }
      #edit-field-etiquetes-wrapper,
      #edit-field-seccio-wrapper {
        @include zen-grid-item(4,8);
        & > label {
          display:none;
        }
        /* treiem el trobber */
        input { background-image: none; }
        .chosen-container {
          .chosen-results {
            min-width:395px;
            background:white;
          }
        }
        .chosen-container.chosen-container-multi.form-select{
          display:inline;
        }
        #edit_field_seccio_chosen{
          width: 100%;
        }  
      }
      #edit-author-wrapper {
        @include zen-clear(); 
        @include zen-grid-item(4,8);
        & > label {
          display:none;
        } 
        #edit-author {
          @include zen-grid-item(8,1);
          width:100%;
        } 
      }
      #edit-type-wrapper {
        @include zen-clear(); 
        @include zen-grid-item(3,5);
        margin-top: 10px;
        .form-item.form-type-radio.form-item-type {
          display:inline;
          margin-right: 50px;
        } 
        label {
          @include graphik-regular(16px, #888888, 24px);
        }
        .description{ 
           margin-left: -130%;
           width: 130%;
           margin-top: -25px;         
           @include graphik-semibold(18px,#888888, 21px);
         }
      }
      #edit-type-1--2-wrapper {
        @include zen-grid-item(4,8);
        label {
          float: left;
          @include graphik-semibold(18px,#888888, 21px);
        } 
        #edit_type_1__2_chosen,
        #edit-type-1--2 {
          @include zen-grid-item(6,2);
          .chosen-drop li,
          .chosen-single span,
          option, selected {
            @include graphik-medium(17px, #bababa, 10px);           
          }
          &.chosen-container-active .chosen-single {
            border-color: $gris7;
          }
          .chosen-single span {
            line-height: 24px;
          }
          .chosen-drop {
            margin-left: 5px;
            width: 190px;
            li.highlighted {
              color: $gris7;
              background-image: none;
              background-color: $gris9;
            }
          }
          .chosen-single span {
          }
          .chosen-search {
            display: none;
          }
        }
      }
      .views-submit-button {
        @include zen-clear(); 
        @include zen-grid-item(3,9);
        #edit-submit-hemeroteca {
          float:right;
          border: 0px;
          @include border-radius(4px);
          background-color: #5e5e5e;
          padding: 10px 20px;
          @include public-bold(24px,#ffffff,20px);
        }
      }
      .views-widget .description {
        display: none;
      }
    }
    .general {
      @include zen-clear();
      @include zen-grid-item(12,1);  
      $zen-column-count:12;
      $zen-gutter-width:10px;                                                                                     
      @include zen-grid-container();
      border-bottom: 1px solid rgb(224, 224, 255);
      border-top: 1px solid rgb(224, 224, 224);
      padding-bottom: 20px;
      padding-top: 20px;
      .columna1 {
        @include zen-grid-item(2,1);
        & > div {
          padding-bottom: 10px;
        } 
        .Reportatge {
          background-image: url("../images/foto");
          background-repeat: no-repeat;
          height: 23px;
          width: 32px;
        } 
        .Numero.Paper {
          background-image: url("../images/adj");
          background-repeat: no-repeat;
          height: 23px;
          width: 32px;
        } 
        .Notícia {
          background-image: url("../images/adj2");
          background-repeat: no-repeat;
          height: 23px;
          width: 32px;
        } 
        .numero {
          color: rgb(94, 94, 94);
          font-size: 24px;
          font-weight: bold;
        }
        .data {
          color: rgb(94, 94, 94);
          font-size: 22px;
          font-weight: bold;
        }
      }
      .columna2 {
        @include zen-grid-item(2,3);
        div.jp-audio {      
          width:190px;
          div.jp-type-playlist { 
            div.jp-interface {
              border-radius: 10px;
              height: 125px;
              top: 23px;
              a.jp-mute {
                 left: 126px;
                 top: 26px;
              }
              div.jp-progress {
               left: 14px;
               top: 62px;
               width: 122px;
              }
              div.jp-volume-bar {
               left: 141px;
               top: 68px;
              }
              div.jp-current-time,
              div.jp-duration {
               left: 15px;
               top: 89px;
               width: 122px;
              } 
            }
            div.jp-playlist {
               display:none;
            } 
          }
        }
      }  
      .columna3 {
        @include zen-grid-item(8,5);            
        .titol a {
          color: rgb(94, 94, 94);
          font-size: 26px;
          font-weight: 600;
        }
        .bodier {
          color: rgb(94,94,94);
        } 
        .etiquetes {
          background-color: rgb(224, 224, 224);
          height: 50px;
          margin-top: -11px;
          padding: 8px 8px 8px 20px;
          & > a {
            color: rgb(0, 0, 0);
            font-family: publico_textroman;
            font-size: 14px;
            font-weight: bolder;
            text-decoration: underline;
          }  
        }     
      }
    }
  }
}
