// Hemeroteca

.page-hemeroteca {

  #content { 
    margin-left:30px;     
    $zen-column-count:6;
    $zen-gutter-width:10px;                                                                                   
    @include zen-grid-container();
    #page-title {
      display:none;
    }

   .views-exposed-widgets {
     @include zen-grid-item(6,1); 
     $zen-column-count:12;
     $zen-gutter-width:10px;                                                                                   
     @include zen-grid-container();
     /*.views-exposed-widget.views-widget-filter-search_api_views_fulltext {*/
       /*width:100%;*/
     /*}*/
     #edit-search-api-views-fulltext-wrapper  {
      
      @include zen-clear(); 
      @include zen-grid-item(12,1);
      /*$zen-column-count:6;*/
      /*$zen-gutter-width:10px;                                                                                   */
      /*@include zen-grid-container();*/
      label {
        dispolay: none;
      }
      .form-text.form-autocomplete {
       @include zen-grid-item(12,1);
        height: 50px;
      }
      @include zen-clear(); 

    }
    /** quiron **/
    #edit-search-api-views-fulltext-wrapper {
      @include zen-grid-item(12,1);
      @include zen-clear(); 
      margin-bottom: 30px;
      & > label {
        display: none;
   
      } 
    }
    #edit-field-data-wrapper {
      @include zen-clear(); 
      @include zen-grid-item(3,5);  
      .views-widget {
        display: inline-block;
        width:50%;
       }
       label {
         width:60px; 
         display:inline-block;
       }
     .form-item.form-type-textfield.form-item-field-data-date > label {
         display: none;
      } 
     .description {
       margin-left: -130%;
       margin-bottom: 15px;
       margin-top:-25px;
     }
     #edit-field-data-datepicker-popup-0 {
      max-width:50%;
     }

    }
    #edit-field-data-1-wrapper {
      @include zen-clear(); 
      @include zen-grid-item(3,5);
      margin-top: -20px;
       .views-widget {
        display: inline-block;
        width:50%;
       }
       label {
         width:60px; 
         display:inline-block;
       }
      .form-item.form-type-textfield.form-item-field-data-1-date > label {
       display: none;
      }

     #edit-field-data-1-datepicker-popup-0{
      max-width:50%;
     }
    }
    #edit-field-seccio-wrapper {
      @include zen-grid-item(4,8);
      & > label {
        display:none;
      }
      .chosen-container {
        .chosen-results {
          min-width:395px;
          background:white;
      }
      }
      .chosen-container.chosen-container-multi.form-select{
       display:inline;
      }
      #edit_field_seccio_chosen{
        width: 100%;
      } 
    }
     
    #edit-author-wrapper {
      @include zen-clear(); 
      @include zen-grid-item(4,8);
      & > label {
        display:none;
      } 
      .form-text.form-autocomplete {
        width:100%;
      } 
    }
    #edit-type-wrapper {
      @include zen-clear(); 
      @include zen-grid-item(3,5);
     margin-top: 10px;
     .form-item.form-type-radio.form-item-type {
       display:inline;
       margin-right: 50px;
     } 
     .description{ 
        margin-left: -130%;
        margin-top: -25px; 
      }
     }
    #edit-type-1--2-wrapper {
      @include zen-grid-item(4,8);
      label {
        float: left;
        font-weight: bold;
        margin-right: 20px;
      } 
    }
    .views-submit-button {
      @include zen-clear(); 
      @include zen-grid-item(4,8);
    }
    .views-widget .description {
      display: none;
    }
   }

     
   
   }
    .general {
      @include zen-clear();
      @include zen-grid-item(12,1);  
      $zen-column-count:12;
      $zen-gutter-width:10px; 
                                                                                        
      @include zen-grid-container();
      border-bottom: 1px solid rgb(224, 224, 255);
      border-top: 1px solid rgb(224, 224, 224);
      padding-bottom: 20px;
      padding-top: 20px;
      .columna1 {
         @include zen-grid-item(2,1);
         & > div {
           padding-bottom: 10px;
        } 
        
        .Reportatge {
            background-image: url("../images/foto");
            background-repeat: no-repeat;
            height: 23px;
            width: 32px;
        } 
        .Numero.Paper {
            background-image: url("../images/adj");
            background-repeat: no-repeat;
            height: 23px;
            width: 32px;
        } 
        .Notícia {
            background-image: url("../images/adj2");
            background-repeat: no-repeat;
            height: 23px;
            width: 32px;
        } 
        .numero {
            color: rgb(94, 94, 94);
            font-size: 24px;
            font-weight: bold;
        }
        .data {
          color: rgb(94, 94, 94);
          font-size: 22px;
          font-weight: bold;
        }
        

      }
      .columna2 {
        @include zen-grid-item(2,3);
      }
      .columna3 {
       @include zen-grid-item(8,5);
          
        .titol a {
          color: rgb(94, 94, 94);
          font-size: 26px;
          font-weight: 600;
        }
        .bodier {
         color: rgb(94,94,94);

       } 
        .etiquetes {
          background-color: rgb(224, 224, 224);
          height: 50px;
          margin-top: -11px;
          padding: 8px 8px 8px 20px;
        & > a {
          color: rgb(0, 0, 0);
          font-family: publico_textroman;
          font-size: 14px;
          font-weight: bolder;
          text-decoration: underline;
      }  
     }   
    
     }

    }
  }

