/*Línies de recerca i actualitat*/

.node-type-linies-de-recerca {
  .breadcrumb {
    display: none;
  }
  #main #content {
    article.node-linies-de-recerca.view-mode-full {
      $zen-column-count: 17;
      @include zen-grid-container();
      .easy_social_box {
        @include zen-clear();
        @include zen-grid-item(3,1);
      }
      .field-body {
        @include zen-grid-item(12,4);
      }
      #tags-wrapper {
        @include zen-clear();
        @include zen-grid-item(13,3);
      }
      section#comments {
        @include zen-clear();
        @include zen-grid-item(13,3);
        #comment-form div {
          $zen-column-count: 2;
          @include zen-grid-container();
          .form-item-name {
            @include zen-grid-item(1,1);
          }
          .form-item-subject {
            @include zen-grid-item(1,2);
          }
          #edit-comment-body {
            @include zen-clear();
            @include zen-grid-item(2,1);
          }
          #edit-field-archius-adjunts {
            @include zen-clear();
            @include zen-grid-item(1,1);
          }
          #edit-actions {
            @include zen-grid-item(1,2);
          }
        }
      }
    }
  }
}
 
.node-type-linies-de-recerca {
  #main #content {
    margin-top: 30px;
    #page-title {
      @include titulo-not;
      padding-top: 20px;
    }
    article.node-linies-de-recerca.view-mode-full {
      .field-body {
        padding-top: 30px;
        margin-bottom: -120px;
        p {
          @include body;
          font-size: 20px; //jude modifica. hay q modificar el mixin cuando sea definitivo y borrar esta linea
          margin-top: 0;
          margin-bottom: 20px;
        }
      }
    }
  }
}

