/*Paginador*/
#nav-links-wrapper {
  .node-nav-links {
    @include transition-property(width height);
    @include transition-duration(0.5s);
    @include transition-timing-function(ease-in);
    position: fixed;
    top: 48%;
    background-color: $blanc;
    opacity: 0.7;
    width: 34px;
    /*height: 34px;*/
    overflow: hidden;
    a {
      @include graphik-bold(16px,$gris7,22px);
      min-height: 30px;
      vertical-align: middle;
      display: inline-block;
      padding-top: 6px;
      padding-bottom: 6px;
      width: 300px;
      &:before {
        display: block;
        content: " ";
        width: 20px;
        height: 90%;
        position: absolute;
        top: 2px;
      }
    }
    &.node-nav-links-prev {
      left: 0;
      box-shadow: 0px 0px 2px 2px $fons;
      a {
        margin-left: 34px;
        &:before {
          left: 5px;
          float: left;
          background: url('../images/prev.png') no-repeat 3px 50%;
        }
      }
    }
    &.node-nav-links-next {
      right:0;
      a {
        margin-right: 34px;
        float: right;
        text-align: right;
        &:before {
          right: 5px;
          display: block;
          background: url('../images/next.png') no-repeat 3px 50%;
        }
        //width: 27px;
      }
    }
    &:hover {
      width: 340px;
      &.node-nav-links a:before {
        background-position: -15px 50%;
      }
      /*height: inherit;*/
    }
  }
}

.form-item-search-api-views-fulltext {
  /*http://css-tricks.com/snippets/css/glowing-blue-input-highlights/*/
  input[type=text], textarea {
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    outline: none;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid $gris9;
    background-color: $input_bg;
    background-image: url('../images/lupa.png');
    background-position: 100% 50%;
    background-repeat: no-repeat;
    @include graphik-medium(14px, $gris3, 18px);
    padding-left: 6px;
  }
  input[type=text]:focus, textarea:focus {
    box-shadow: 0 0 5px $gris6;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid $gris6;
  }
}
/*comentaris*/
section#comments {
  margin-top: 30px;
  padding-top: 30px;
  &:after {
    @include separador;
  }
  h2 {
    @include public-roman(19px, $gris7, 24px);
  }
  #comment-form {
    @include user-login;
    .form-item {
      input#edit-name,
      input#edit-subject,
      textarea#edit-comment-body-und-0-value {
        padding: 5px 10px;
        text-align: left;
      }
    }
    #edit-actions.form-actions {
      text-align: right;
      input#edit-submit {
        background-color: $gris7;
        color: $fons;
        padding: 5px 20px;
      }
    }
    #edit-field-archius-adjunts {
      #edit-field-archius-adjunts-und-0 {
        margin-top: 0px;
        #edit-field-archius-adjunts-und-0-title {
          margin-top: 0px;
          display: inline-block;
          label {
            @include graphik-medium(21px,#9a9a9a,auto);
          }
        }
        a#edit-field-archius-adjunts-und-0-select {
          @include login-shadow;
          @include graphik-medium(17px, $gris7, auto);
          padding: 5px 20px;
          border: none;
        }
      }
    }
  }
}
