.front {
 #main {
   $zen-column-count:23;
   $zen-gutter-width:10px; 
   @include zen-grid-container();
   #content {
     @include zen-clear();
     @include zen-grid-item(9,1);
   }
   .sidebars .region-sidebar-first {
     @include zen-grid-item(8,10);
   }
   .sidebars .region-sidebar-second {
     @include zen-grid-item(6,18);
   }
   #destacat {
     @include zen-clear();
     @include zen-grid-item(23,1);
   }

   #block-views-c721e0c0c017aee43ae86693d23b264b,    
   #view-portada-destacadotodascolumnas {
     @include zen-grid-item(23,1);
     @include zen-grid-background();
     @include zen-nested-container();
     .field-fotografies,
     .field-portada-fotogaleria {
       @include zen-grid-item(11,1);
     }
     .views-field-nothing {
       @include zen-grid-item(12,1,right);
     }
     .views-field-title {
       @include zen-clear(right);
       @include zen-grid-item(12,1,right);
     }
     .field-body,
     //.field-continguts-relacionats-ref,
     .field-continguts-relacionats {
       @include zen-clear(right);
       @include zen-grid-item(12,1,right);
     }
     .attachment {
       @include zen-clear(both);
       $zen-column-count:4;
       $zen-gutter-width:10px;
       @include zen-grid-container();
       .field-fotografies {
         @include zen-grid-item(2,1);
       }
       .autor,
       .date-display-single,
       .field-body {
         @include zen-clear(right);
         @include zen-grid-item(2,3);
       }
     }

   }
   
 } 

 /*BUTLLETÍ SONOR**/
 #faldo_esquerra {
 @include zen-grid-background;
   $zen-column-count:5;
   @include zen-nested-container();
   @include zen-grid-background;
   #faldo_esquerra_portada {
    @include zen-grid-item(2,1);
    background-color: green;
   }
   #faldo_esquerra_dreta {
     @include zen-grid-item(2,3);
     background-color: yellow;
    }
  }
}




/*DESTACAT 3 COLUMNES*/
/***
 * OJU SELECTORS MASSA GENERICS!!!
 */
.view-portada-destacadotodascolumnas.view-display-id-block {
  .field-fotografies {
  }
  .field-seccio-web {
    @include seccio;
  }
  a.autor {
    @include autoria;
  }
  span.date-display-single {
    @include data;
  }
  .views-field-title a {
    @include titular-3col;
  }
  .field-body {
    @include entradilla-3col;
  }

  .pretitular {
    display:block-inline;
  }
}
.view-portada-destacadotodascolumnas {
  .view-display-id-attachment_2 {
    td.col-1 {
    }
    td.col-2 {
    }
    td.col-3 {
    }
  }
  .field-collection-container {
    @include cont-rel();
  }
}

/*Portada*/
.front #content,
.front .sidebars {
  .views-field-title a {
    @include graphik-semibold(24px,$gris7,30px);
  }
  .field-body {
    @include public-roman(18px, $gris2, 23px);
  }
  .field-collection-container {
    @include cont-rel();
  }
  .view-display-id-block_1 {
    @include portada-numero;
  }
  #faldo_esquerra {
  }
}


/*COLUMNA NOTICIES (ESQUERRA)*/
.view-portada-columnaizquierda.view-display-id-block_1 {
  h2.node-title a {
    @include titular-not;
  }
}

/*COLUMNA ACTUALITAT (DRETA)*/
.front .region-sidebar-first {
  padding: 0 20px;
  border-right: 1px solid #e9e9e9;
  #block-views-portada-columnadreta-block-1 {
    background-color: #e9e9e9;
    .block__title block-title {
      display:none;
    }
  }
}

/***
 * OJU SELECTOR MASSA GENERIC
 */
//Home//

#content h2 a {
  @include graphik-semibold(36px,$gris7,40px);
}

.block-tagadelic-taxonomy  {
  @include tagadelic;
}


