body.page-taxonomy,
body.front {
 #main {
   $zen-column-count:23;
   $zen-gutter-width:10px; 
   @include zen-grid-container();

   /** Estils generals **/
   #content,
   #destacat,
   .sidebars {
     .messages--error {
       display:none;
     }
     .views-field-title {
       margin-top: 12px;
       a {
         @include graphik-semibold(32px,$gris7,34px);
        }
      }
     .field-body {
       margin-top: 6px;
       * {
         @include public-roman(17px, $gris7, 21px);
       }
       p {
         margin: 0px;
       }
      }
      /*.field-continguts-relacionats,*/
      .views-field-field-continguts-relacionats {
        margin: 12px 0 0 10px;
        display: block;
        width: 95%;
        background-color:$fons;
        @include box-shadow($gris6 0px 0px 10px inset);
        .field-continguts-relacionats {
          a {
            @include public-roman(14px, $gris7, 22px);
            text-decoration: underline;
            margin: 0 12px;
            padding-left: 28px;
            display: inline-block;
            background-position: 0 50%;
            background-repeat: no-repeat;
            display: block;
            width: 90%;
            padding-left: 28px;
            &[href*="/fotogaleria/"] {
              background-image: url('../images/foto_p.png');
            }
            &[href*="/video/"] {
              background-image: url('../images/video_p.png');
            }
            &[href*="/document/"] {
              background-image: url('../images/adj2.png');
            }
            .field-continguts-relacionats-ref {
              padding: 0 12px;
            }
 
          }
          &:first-child > div {
            padding-top: 10px;
          }
          &:last-child > div {
            padding-bottom: 10px;
          }
        }
      }
     .views-field-field-contingut-relacionat.related-news-wrapper {
       .destacat {
         display: block;
         position: relative;
         & > * {
           margin: 0 20px;
         }
         .meta-info-top {
           margin-top: 20px;
           .autories { 
             padding-left: 0px;
           }
         }
         h2.node-title {
           position: relative;
           @include graphik-semibold(22px, $gris7, 26px);
           &:before {
             display: block;
             content: ' ';
             width: 12px;
             height: 15px;
             border-left: 1px solid black;
             border-bottom: 1px solid black;
             border-bottom-left-radius: 8px;
             position: absolute;
             top: 3px;
             left: -24px;
           }
         }
         .field-body {
           margin-top: 8px;
           & > * {
             @include public-roman(17px, $gris7, 21px)
           }
         }
       }

       /** clases a lo loco! xD **/
       h4.titol-rel-no-dest {
         text-transform: uppercase;
         @include graphik-semibold(15px, $gris7, 19px);
         margin: 12px 0 0 0;
       }

       .no-destacat {
         $zen-column-count: 3;
         $zen-gutter-width: 0px;
         @include zen-grid-container();
         .meta-info-top {
           @include zen-grid-item(3,1);
           margin-bottom: 4px;
           .autories {
             padding-left: 10px;
           }
         }
         .field-portada-fotogaleria {
           @include zen-clear();
           @include zen-grid-item(1,1);
           padding-left: 10px;
         }
         .col-right {
           @include zen-grid-item(2,2);
           padding-left: 13px;
           h2.node-title {
             @include graphik-semibold(19px, $gris7, 21px);
             margin: 0px;
           }
           .field-body > * {
             @include public-roman(15px, $gris7, 19px)
           }

         }
       }
     }
      .view-display-id-block_1 {
        @include portada-numero;
      }
      .field-seccio-web {
        @include seccio;
      }
      .meta-info-top {
        width: 100%;
        display: block;
        margin-bottom: 12px;
        .autories {
          display: inline-block;
          padding-left: 4px;
          * {
            display: inline;
            line-height: 18px;
            font-size: 12px;
          }
          .field-autoria-general:after,
          .field-autor:after {
            display: inline-block;
            content: '/';
            color: $gris3;
          }
          /** cas tingui enllas o no **/
          .field-autoria-general,
          .field-autor,
          .field-autor a.autor {
            text-decoration: underline;
            padding: 0px;
          }
        }
      }
      .image-info {
        a {
          width: 100%;
          img {
            width: 100%;
          }
        }
        .image-footer {
          line-height: 14px;
          * {
            display: inline;
            @include public-roman(14px, #000000, 15px);
          }
          .field-autor-foto-portada {
            color: $gris3;
            &:before {
              display: inline-block;
              content: '/';
            }
          }
        }
      }
      .views-row {
        padding-bottom: 12px;
        margin-bottom: 12px;
        border-bottom: 1px solid $gris6;
      }
   }

   /** columna noticies (esquerra) **/
   /** recuperem els valors inicials */
   $zen-column-count:23;
   $zen-gutter-width:10px; 
   #content {
     @include zen-clear();
     @include zen-grid-item(9,1);
     padding: 20px 12px;
     /*COLUMNA NOTICIES (ESQUERRA)*/
     .view-portada-columnaizquierda.view-display-id-block_1 {
       h2.node-title a {
         @include titular-not;
       }

     }
   }

   /** recuperem els valors inicials */
   $zen-column-count:23;
   $zen-gutter-width:10px; 
   /* columna mig (actualitat) */
   .sidebars .region-sidebar-first {
     @include zen-grid-item(8,10);
     padding-right: 10px;
     border-right: 1px solid $gris6;
     & > div {
       padding: 0 14px;
       background-color: $fons;
       padding-top: 22px;
       padding-bottom: 0px;
       margin-bottom: 0px;
       .view-portada-columnadreta { 
         .field-video {
           .media-youtube-player {
             width:100%;
           }
         }
         .fotogaleria {
           background-color: rgb(220, 220, 220);
           background-image: url("../images/foto.png");
           background-position: center center;
           background-repeat: no-repeat;
           border-radius: 30px 30px 30px 30px;
           height: 40px;
           margin-left: 10px;
           margin-top: -70px;
           padding: 5px;
           position: absolute;
           width: 40px;
         } 
         .video {
           background-color: rgb(220, 220, 220);
           background-image: url("../images/video.png");
           background-position: center center;
           background-repeat: no-repeat;
           border-radius: 30px 30px 30px 30px;
           height: 40px;
           margin-left: 10px;
           margin-top: -70px;
           padding: 5px;
           position: absolute;
           width: 40px;
         } 
       }
     }
   }
     /*COLUMNA ACTUALITAT (DRETA)*/

   /** columna dreta (sidebar) **/
   .sidebars .region-sidebar-second {
     @include zen-grid-item(6,18);
     /*correccio del gutter*/
     padding-right: 0px;
     padding-left: 10px;
     /*BUTLLETÃ SONOR**/
     .view-id-fald_.view-display-id-block_1 .views-row-1 {
       border-bottom: 0px none;
       margin-bottom: 32px;
       min-height: 270px;
       .field-portada-numero {
         width: 60%;
         float: left;
         margin-right: 10px;
         img {
           width: 95%;
           padding: 0px;
         }
       }
       .prototype-wrapper,
       .num,
       .date-display-single,
       .field-pdf,
       & > a,
       .field-butlleti-sonor {
         display: inline;
       }
       .prototype-wrapper {
         right: 0px;
         position: absolute;
       }
       .num {
         @include graphik-semibold(16px, $gris7, 18px);
       }
       &:after {
         clear: both;
       }
     }
   }

   /*DESTACAT 3 COLUMNES*/
   /** recuperem els valors inicials */
   $zen-column-count:23;
   $zen-gutter-width:10px; 
   #destacat {
     @include zen-clear();
     @include zen-grid-item(23,1);
     /** nomes hi haura una row SEMPRE **/
     .view-portada-destacadotodascolumnas.view-display-id-block .view-content .views-row-1{
       width: 100%;
       $zen-column-count: 2;
       $zen-gutter-width: 20px; 
       @include zen-grid-container();
       margin-top: 32px;
       .field-portada-fotogaleria {
         @include zen-grid-item(1,1);
         a {
           width: 100%;
           img {
             width: 100%;
           }
         }
       }
       .col-right {
         @include zen-grid-item(1,2);
         h2.views-field-title a {
           font-size: 28px;
           line-height: 32px;
         }
       }
       .views-field-field-contingut-relacionat.related-news-wrapper {
         .destacat {
           @include zen-clear();
           @include zen-grid-item(2,1);
           .meta-info-top {
             margin-top: 0px;
           }
         }
         .no-dest-wrapper {
           @include zen-clear();
           .no-destacat:nth-child(2n) {
             @include zen-grid-item(1,2);
           }
           .no-destacat:nth-child(2n+1) {
             @include zen-clear();
             @include zen-grid-item(1,1);
             border-right: 1px solid $gris6;
           }
           .meta-info-top {
             display: none;
           }
           .no-destacat {
             margin-top: 12px;
           }
         }
       }
       a.autor {
         @include autoria;
       }
       span.date-display-single {
         @include data;
       }
       .views-field-title a {
         @include titular-3col;
      }
       .field-body {
         @include entradilla-3col;
       }
       .attachment {
         @include zen-clear(both);
         $zen-column-count:4;
         $zen-gutter-width:10px;
         @include zen-grid-container();
         .field-fotografies {
           @include zen-grid-item(2,1);
         }
         .autor,
         .date-display-single,
         .field-body {
           @include zen-clear(right);
           @include zen-grid-item(2,3);
         }
       }
     }
   }
 } 
}




/***
 * OJU SELECTORS MASSA GENERICS!!!
 */

.view-portada-destacadotodascolumnas {
  .view-display-id-attachment_2 {
    td.col-1 {
    }
    td.col-2 {
    }
    td.col-3 {
    }
  }
  .field-collection-container {
    /*@include cont-rel();*/
  }
}



/** 
 * elements transversals que no haurien d'estar aqui
 */
.sidebars .block-tagadelic-taxonomy  {
  @include tagadelic;
}
#content h2 a {
  /*@include graphik-semibold(36px,$gris7,40px);*/
}
