
.page-node-16231 {
  $zen-column-count: 4;
  $zen-gutter-width: 20px;
  @include zen-grid-container;
  .bola {
    @include zen-grid-item(2,3);
  }
  #page-title, 
  article.node-16231 {
    @include zen-clear();
    @include zen-grid-item(2,1);
  }
  #block-block-3--2,
  #block-user-login {
    @include zen-clear();
    @include zen-grid-item(1,1);
  }
  #block-block-1--2 {
    @include zen-grid-item(1,2);
  }
}

/*Accés restringit*/
.page-node-16231 {
  .bola {
    position: absolute;
    top: 30px;
    left: 150px;
    width: 400px;
    height: 400px;
    border-radius: 200px;
    background-color: $fons;
  } 
  #page-title {
    @include graphik-bold(35px,$gris7,40px);
    margin-top: 50px;
    margin-bottom: 30px;
    text-transform: uppercase;
  }
  article.node-16231 {
    margin-bottom: 185px;
    .field-body {
      .no-auth {
        @include graphik-regular(30px,$gris7, 40px); 
        padding-right: 40px;
        margin-bottom: 10px;
      }
      .subscriu {
        @include graphik-medium(16px,$gris3, 25px); 
        margin-bottom: 20px;
      }
    }
    .easy_social_box {
      display: none;
    }
  }
  #block-block-3--2 {
    h2.block-title {
      display: none;
    }
    @include graphik-medium(16px, $gris3, 25px);
    padding-left: 35px;
    margin-bottom: 0px;
  }
  #block-user-login {
    padding-left: 25px;
    #user-login-form {
      @include user-login;
      .form-item.form-item-name {
        margin-bottom: 0px;
      }
      .form-item.form-type-password {
        margin-top: 0px;
      }
      .item-list {
        display: none;
      }
      #edit-actions {
        #edit-submit {
          width: 90%;
        }
      }
    }
  }
  #block-block-1--2 {
    @include subscriute(20px);
    margin-top: 20px;
    width: 20%;
  }
}
