# Ignore configuration files that may contain sensitive information.
sites/*/settings*.php

# Ignore paths that contain user-generated content.
sites/*/files
sites/*/private
cache/
files/


# Ignore default text files
.htaccess
robots.txt
/CHANGELOG.txt
/COPYRIGHT.txt
/INSTALL*.txt
/LICENSE.txt
/MAINTAINERS.txt
/UPGRADE.txt
/README.txt
sites/all/README.txt
sites/all/modules/README.txt
sites/all/themes/README.txt
sites/default/*

# Ignore everything but the "sites" folder ( for non core developer )
web.config
authorize.php
cron.php
index.php
install.php
update.php
xmlrpc.php
/includes
/misc
/modules
/profiles
/scripts
/themes


# git ignore rvillar
sites/all/modules/*
!sites/all/modules/custom
!sites/all/modules/features
!sites/all/themes/*
# el zen base estara a /theme
# i a sites/all/themes nomes
# els subthemes desenvolupats
#!sites/all/themes/custom
sites/all/libraries/*


#excloure temporals del vim
*.swp
