/**
 * @file
 * RTL companion for the styles.scss file.
 */
/* Import Sass mixins, variables, Compass modules, etc. */
/* HTML element (SMACSS base) rules */
/**
 * @file
 * Normalize-rtl.scss is the RTL language extension of normalize.scss
 */
/**
 * Lists
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/directa_truc5\/sites\/all\/themes\/directa\/sass\/_normalize-rtl\.scss}line{font-family:\000039}}
dd {
  margin: 0 30px 0 0;
}

/* Address paddings set differently in IE 6/7. */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/directa_truc5\/sites\/all\/themes\/directa\/sass\/_normalize-rtl\.scss}line{font-family:\0000316}}
menu,
ol,
ul {
  padding: 0 30px 0 0;
}

/* Layout rules */
/**
 * @file
 * RTL companion for the layout-responsive.css file.
 */
/**
 * @file
 * Positioning for a responsive layout.
 *
 * Define CSS classes to create a fluid grid layout with optional sidebars
 * depending on whether blocks are placed in the left or right sidebars.
 *
 * This layout uses the Zen Grids plugin for Compass: http://zengrids.com
 */
/**
 * Use 3 grid columns for smaller screens.
 */
@media all and (min-width: 480px) and (max-width: 959px) {
  /**
   * The layout when there is only one sidebar, the left one.
   */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/directa_truc5\/sites\/all\/themes\/directa\/sass\/layouts\/_responsive\.scss}line{font-family:\0000393}}
  .sidebar-first {
    /* Span 2 columns, starting in 2nd column from left. */
    /* Span 1 column, starting in 1st column from left. */
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/directa_truc5\/sites\/all\/themes\/directa\/sass\/layouts\/_responsive\.scss}line{font-family:\0000395}}
  .sidebar-first #content {
    float: right;
    width: 66.66667%;
    margin-right: 33.33333%;
    margin-left: -100%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/directa_truc5\/sites\/all\/themes\/directa\/sass\/layouts\/_responsive\.scss}line{font-family:\00003100}}
  .sidebar-first .region-sidebar-first {
    float: right;
    width: 33.33333%;
    margin-right: 0%;
    margin-left: -33.33333%;
  }

  /**
   * The layout when there is only one sidebar, the right one.
   */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/directa_truc5\/sites\/all\/themes\/directa\/sass\/layouts\/_responsive\.scss}line{font-family:\00003108}}
  .sidebar-second {
    /* Span 2 columns, starting in 1st column from left. */
    /* Span 1 column, starting in 3rd column from left. */
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/directa_truc5\/sites\/all\/themes\/directa\/sass\/layouts\/_responsive\.scss}line{font-family:\00003110}}
  .sidebar-second #content {
    float: right;
    width: 66.66667%;
    margin-right: 0%;
    margin-left: -66.66667%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/directa_truc5\/sites\/all\/themes\/directa\/sass\/layouts\/_responsive\.scss}line{font-family:\00003115}}
  .sidebar-second .region-sidebar-second {
    float: right;
    width: 33.33333%;
    margin-right: 66.66667%;
    margin-left: -100%;
  }

  /**
   * The layout when there are two sidebars.
   */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/directa_truc5\/sites\/all\/themes\/directa\/sass\/layouts\/_responsive\.scss}line{font-family:\00003123}}
  .two-sidebars {
    /* Span 2 columns, starting in 2nd column from left. */
    /* Span 1 column, starting in 1st column from left. */
    /* Start a new row and span all 3 columns. */
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/directa_truc5\/sites\/all\/themes\/directa\/sass\/layouts\/_responsive\.scss}line{font-family:\00003125}}
  .two-sidebars #content {
    float: right;
    width: 66.66667%;
    margin-right: 33.33333%;
    margin-left: -100%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/directa_truc5\/sites\/all\/themes\/directa\/sass\/layouts\/_responsive\.scss}line{font-family:\00003130}}
  .two-sidebars .region-sidebar-first {
    float: right;
    width: 33.33333%;
    margin-right: 0%;
    margin-left: -33.33333%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/directa_truc5\/sites\/all\/themes\/directa\/sass\/layouts\/_responsive\.scss}line{font-family:\00003135}}
  .two-sidebars .region-sidebar-second {
    float: right;
    width: 100%;
    margin-right: 0%;
    margin-left: -100%;
    padding-left: 0;
    padding-right: 0;
    clear: right;
    /* Apply the shared properties of grid items in a single, efficient ruleset. */
    /* Span 1 column, starting in the 1st column from left. */
    /* Span 1 column, starting in the 2nd column from left. */
    /* Span 1 column, starting in the 3rd column from left. */
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/directa_truc5\/sites\/all\/themes\/directa\/sass\/layouts\/_responsive\.scss}line{font-family:\00003141}}
  .two-sidebars .region-sidebar-second .block {
    padding-left: 10px;
    padding-right: 10px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/directa_truc5\/sites\/all\/themes\/directa\/sass\/layouts\/_responsive\.scss}line{font-family:\00003145}}
  .two-sidebars .region-sidebar-second .block:nth-child(3n+1) {
    float: right;
    width: 33.33333%;
    margin-right: 0%;
    margin-left: -33.33333%;
    clear: right;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/directa_truc5\/sites\/all\/themes\/directa\/sass\/layouts\/_responsive\.scss}line{font-family:\00003150}}
  .two-sidebars .region-sidebar-second .block:nth-child(3n+2) {
    float: right;
    width: 33.33333%;
    margin-right: 33.33333%;
    margin-left: -66.66667%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/directa_truc5\/sites\/all\/themes\/directa\/sass\/layouts\/_responsive\.scss}line{font-family:\00003154}}
  .two-sidebars .region-sidebar-second .block:nth-child(3n) {
    float: right;
    width: 33.33333%;
    margin-right: 66.66667%;
    margin-left: -100%;
  }
}
/**
 * Use 5 grid columns for larger screens.
 */
@media all and (min-width: 960px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/directa_truc5\/sites\/all\/themes\/directa\/sass\/layouts\/_responsive\.scss}line{font-family:\00003171}}
  #header #logo {
    float: right;
    width: 26.08696%;
    margin-right: 0%;
    margin-left: -26.08696%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/directa_truc5\/sites\/all\/themes\/directa\/sass\/layouts\/_responsive\.scss}line{font-family:\00003174}}
  #header #name-and-slogan {
    display: none;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/directa_truc5\/sites\/all\/themes\/directa\/sass\/layouts\/_responsive\.scss}line{font-family:\00003177}}
  #header #secondary-menu {
    float: right;
    width: 8.69565%;
    margin-right: 47.82609%;
    margin-left: -56.52174%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/directa_truc5\/sites\/all\/themes\/directa\/sass\/layouts\/_responsive\.scss}line{font-family:\00003180}}
  #header .region-header {
    clear: none;
    float: left;
    width: 73.91304%;
    margin-left: 0%;
    margin-right: -73.91304%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/directa_truc5\/sites\/all\/themes\/directa\/sass-extensions\/zen-grids\/stylesheets\/zen\/_grids\.scss}line{font-family:\0000346}}
  #header .region-header:before, #header .region-header:after {
    content: "";
    display: table;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/directa_truc5\/sites\/all\/themes\/directa\/sass-extensions\/zen-grids\/stylesheets\/zen\/_grids\.scss}line{font-family:\0000350}}
  #header .region-header:after {
    clear: both;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/directa_truc5\/sites\/all\/themes\/directa\/sass\/layouts\/_responsive\.scss}line{font-family:\00003186}}
  #header .region-header #block-block-7 {
    float: right;
    width: 11.11111%;
    margin-right: 5.55556%;
    margin-left: -16.66667%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/directa_truc5\/sites\/all\/themes\/directa\/sass\/layouts\/_responsive\.scss}line{font-family:\00003189}}
  #header .region-header #block-block-4 {
    float: right;
    width: 11.11111%;
    margin-right: 16.66667%;
    margin-left: -27.77778%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/directa_truc5\/sites\/all\/themes\/directa\/sass\/layouts\/_responsive\.scss}line{font-family:\00003192}}
  #header .region-header #block-block-5 {
    float: right;
    width: 16.66667%;
    margin-right: 27.77778%;
    margin-left: -44.44444%;
    display: none;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/directa_truc5\/sites\/all\/themes\/directa\/sass\/layouts\/_responsive\.scss}line{font-family:\00003197}}
  #header .region-header #block-block-1 {
    float: right;
    width: 22.22222%;
    margin-right: 44.44444%;
    margin-left: -66.66667%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/directa_truc5\/sites\/all\/themes\/directa\/sass\/layouts\/_responsive\.scss}line{font-family:\00003200}}
  #header .region-header #block-block-3 {
    float: right;
    width: 16.66667%;
    margin-right: 27.77778%;
    margin-left: -44.44444%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/directa_truc5\/sites\/all\/themes\/directa\/sass\/layouts\/_responsive\.scss}line{font-family:\00003204}}
  #header .region-header #block-views-exp-hemeroteca-page-1 {
    float: right;
    width: 33.33333%;
    margin-right: 66.66667%;
    margin-left: -100%;
    padding-left: 0;
    padding-right: 0;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/directa_truc5\/sites\/all\/themes\/directa\/sass\/layouts\/_responsive\.scss}line{font-family:\00003207}}
  #header .region-header #block-views-exp-hemeroteca-page-1 #edit-search-api-views-fulltext-wrapper {
    float: right;
    width: 94.44444%;
    margin-right: 0%;
    margin-left: -94.44444%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/directa_truc5\/sites\/all\/themes\/directa\/sass\/layouts\/_responsive\.scss}line{font-family:\00003210}}
  #header .region-header #block-views-exp-hemeroteca-page-1 .views-submit-button {
    display: none;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/directa_truc5\/sites\/all\/themes\/directa\/sass\/layouts\/_responsive\.scss}line{font-family:\00003214}}
  #header .region-header #block-block-2 {
    float: right;
    width: 11.11111%;
    margin-right: 16.66667%;
    margin-left: -27.77778%;
    /*asignando ancho del bloque xxss*/
    padding-left: 0;
    padding-right: 0;
    /*indico que se subdivide, crea una graella igual a la heredada de 23*/
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/directa_truc5\/sites\/all\/themes\/directa\/sass\/layouts\/_responsive\.scss}line{font-family:\00003217}}
  #header .region-header #block-block-2 .tw {
    float: right;
    width: 38.88889%;
    margin-right: 5.55556%;
    margin-left: -44.44444%;
    /*distribuyo cada elemento tomando de referencia 23*/
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/directa_truc5\/sites\/all\/themes\/directa\/sass\/layouts\/_responsive\.scss}line{font-family:\00003220}}
  #header .region-header #block-block-2 .fb {
    float: right;
    width: 38.88889%;
    margin-right: 38.88889%;
    margin-left: -77.77778%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/directa_truc5\/sites\/all\/themes\/directa\/sass\/layouts\/_responsive\.scss}line{font-family:\00003223}}
  #header .region-header #block-block-2 .vi {
    float: right;
    width: 38.88889%;
    margin-right: 72.22222%;
    margin-left: -111.11111%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/directa_truc5\/sites\/all\/themes\/directa\/sass\/layouts\/_responsive\.scss}line{font-family:\00003227}}
  #header .region-header #block-system-user-menu {
    float: right;
    width: 16.66667%;
    margin-right: 27.77778%;
    margin-left: -44.44444%;
  }

  /** això és per TOT el contingut? sino s'ha d'acotar **/
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/directa_truc5\/sites\/all\/themes\/directa\/sass-extensions\/zen-grids\/stylesheets\/zen\/_grids\.scss}line{font-family:\0000346}}
  #main:before, #main:after {
    content: "";
    display: table;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/directa_truc5\/sites\/all\/themes\/directa\/sass-extensions\/zen-grids\/stylesheets\/zen\/_grids\.scss}line{font-family:\0000350}}
  #main:after {
    clear: both;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/directa_truc5\/sites\/all\/themes\/directa\/sass\/layouts\/_responsive\.scss}line{font-family:\00003238}}
  #main #interior {
    float: right;
    width: 73.91304%;
    margin-right: 0%;
    margin-left: -73.91304%;
    clear: right;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/directa_truc5\/sites\/all\/themes\/directa\/sass-extensions\/zen-grids\/stylesheets\/zen\/_grids\.scss}line{font-family:\0000346}}
  #main #interior:before, #main #interior:after {
    content: "";
    display: table;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/directa_truc5\/sites\/all\/themes\/directa\/sass-extensions\/zen-grids\/stylesheets\/zen\/_grids\.scss}line{font-family:\0000350}}
  #main #interior:after {
    clear: both;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/directa_truc5\/sites\/all\/themes\/directa\/sass\/layouts\/_responsive\.scss}line{font-family:\00003245}}
  #main #interior #block-views-agenda-llista-block-1 {
    float: right;
    width: 33.33333%;
    margin-right: 0%;
    margin-left: -33.33333%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/directa_truc5\/sites\/all\/themes\/directa\/sass\/layouts\/_responsive\.scss}line{font-family:\00003248}}
  #main #interior #block-views-cd-noticias-block-1 {
    float: right;
    width: 33.33333%;
    margin-right: 33.33333%;
    margin-left: -66.66667%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/directa_truc5\/sites\/all\/themes\/directa\/sass\/layouts\/_responsive\.scss}line{font-family:\00003251}}
  #main #interior #block-views-linies-de-recerca-block {
    float: right;
    width: 33.33333%;
    margin-right: 66.66667%;
    margin-left: -100%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/directa_truc5\/sites\/all\/themes\/directa\/sass\/layouts\/_responsive\.scss}line{font-family:\00003254}}
  #main #interior #block-views-cd-serveis-block-1 {
    float: right;
    width: 100%;
    margin-right: 33.33333%;
    margin-left: -133.33333%;
  }

  /** això és per TOT el contingut NO PORTADA? sino s'ha d'acotar **/
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/directa_truc5\/sites\/all\/themes\/directa\/sass-extensions\/zen-grids\/stylesheets\/zen\/_grids\.scss}line{font-family:\0000346}}
  .node-type-actualitat #main:before, .node-type-actualitat #main:after, node-type-noticia #main:before, node-type-noticia #main:after, node-type-esdeveniment-agenda #main:before, node-type-esdeveniment-agenda #main:after, node-type-fotogaleria #main:before, node-type-fotogaleria #main:after, node-type-videogaleria #main:before, node-type-videogaleria #main:after {
    content: "";
    display: table;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/directa_truc5\/sites\/all\/themes\/directa\/sass-extensions\/zen-grids\/stylesheets\/zen\/_grids\.scss}line{font-family:\0000350}}
  .node-type-actualitat #main:after, node-type-noticia #main:after, node-type-esdeveniment-agenda #main:after, node-type-fotogaleria #main:after, node-type-videogaleria #main:after {
    clear: both;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/directa_truc5\/sites\/all\/themes\/directa\/sass\/layouts\/_responsive\.scss}line{font-family:\00003266}}
  .node-type-actualitat #main #content, node-type-noticia #main #content, node-type-esdeveniment-agenda #main #content, node-type-fotogaleria #main #content, node-type-videogaleria #main #content {
    clear: right;
    float: right;
    width: 100%;
    margin-right: 0%;
    margin-left: -100%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/directa_truc5\/sites\/all\/themes\/directa\/sass\/layouts\/_responsive\.scss}line{font-family:\00003270}}
  .node-type-actualitat #main .sidebars .region-sidebar-first, node-type-noticia #main .sidebars .region-sidebar-first, node-type-esdeveniment-agenda #main .sidebars .region-sidebar-first, node-type-fotogaleria #main .sidebars .region-sidebar-first, node-type-videogaleria #main .sidebars .region-sidebar-first {
    float: right;
    width: 26.08696%;
    margin-right: 73.91304%;
    margin-left: -100%;
    display: none;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/directa_truc5\/sites\/all\/themes\/directa\/sass\/layouts\/_responsive\.scss}line{font-family:\00003274}}
  .node-type-actualitat #main .sidebars .region-sidebar-second, node-type-noticia #main .sidebars .region-sidebar-second, node-type-esdeveniment-agenda #main .sidebars .region-sidebar-second, node-type-fotogaleria #main .sidebars .region-sidebar-second, node-type-videogaleria #main .sidebars .region-sidebar-second {
    float: right;
    width: 26.08696%;
    margin-right: 73.91304%;
    margin-left: -100%;
  }
}
/* Component (SMACSS module) rules */
/**
 * @file
 * RTL companion for the modular-styles.css file.
 */
/**
 * Branding header.
 */
/* Wrapping link for logo. */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/directa_truc5\/sites\/all\/themes\/directa\/sass\/components\/_misc-rtl\.scss}line{font-family:\0000311}}
.header__logo {
  float: right;
}

/* The secondary menu (login, etc.) */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/directa_truc5\/sites\/all\/themes\/directa\/sass\/components\/_misc-rtl\.scss}line{font-family:\0000316}}
.header__secondary-menu {
  float: left;
}

/**
 * Navigation bar.
 */
/* Main menu and secondary menu links and menu block links. */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/directa_truc5\/sites\/all\/themes\/directa\/sass\/components\/_misc-rtl\.scss}line{font-family:\0000327}}
#navigation .links,
#navigation .menu {
  text-align: right;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/directa_truc5\/sites\/all\/themes\/directa\/sass\/components\/_misc-rtl\.scss}line{font-family:\0000330}}
#navigation .links li,
#navigation .menu li {
  /* A simple method to get navigation links to appear in one line. */
  float: right;
  padding: 0 0 0 10px;
}

/**
 * Messages.
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/directa_truc5\/sites\/all\/themes\/directa\/sass\/components\/_misc-rtl\.scss}line{font-family:\0000341}}
.messages, .messages--status, .messages--warning, .messages--error {
  padding: 10px 50px 10px 10px;
  background-position: 99% 8px;
}

/**
 * Tabs.
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/directa_truc5\/sites\/all\/themes\/directa\/sass\/components\/_misc-rtl\.scss}line{font-family:\0000358}}
.tabs-primary__tab, .tabs-primary__tab.is-active, .tabs-secondary__tab,
.tabs-secondary__tab.is-active {
  float: right;
}

/**
 * Inline styles.
 */
/* List of links */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/directa_truc5\/sites\/all\/themes\/directa\/sass\/components\/_misc-rtl\.scss}line{font-family:\0000377}}
.inline li {
  /* Bug in Safari causes display: inline to fail. */
  display: inline-block;
  padding: 0 0 0 1em;
}

/* The inline field label used by the Fences.module */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/directa_truc5\/sites\/all\/themes\/directa\/sass\/components\/_misc-rtl\.scss}line{font-family:\0000384}}
span.field-label {
  padding: 0 0 0 1em;
}

/**
 * "More" links.
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/directa_truc5\/sites\/all\/themes\/directa\/sass\/components\/_misc-rtl\.scss}line{font-family:\0000391}}
.more-link {
  text-align: left;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/directa_truc5\/sites\/all\/themes\/directa\/sass\/components\/_misc-rtl\.scss}line{font-family:\0000394}}
.more-help-link {
  text-align: left;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/directa_truc5\/sites\/all\/themes\/directa\/sass\/components\/_misc-rtl\.scss}line{font-family:\0000397}}
.more-help-link a {
  background-position: 100% 50%;
  padding: 1px 20px 1px 0;
}

/**
 * Menus.
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/directa_truc5\/sites\/all\/themes\/directa\/sass\/components\/_misc-rtl\.scss}line{font-family:\00003105}}
.menu__item.is-collapsed {
  list-style-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAcAAAAHAQMAAAD+nMWQAAAABlBMVEX///8AAABVwtN+AAAAAXRSTlMAQObYZgAAABNJREFUCB1j4GASYFJgcmD+A4IADUIDfIUMT4wAAAAASUVORK5CYII=');
}

/**
 * Comments.
 */
/* Nested comments are indented. */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/directa_truc5\/sites\/all\/themes\/directa\/sass\/components\/_misc-rtl\.scss}line{font-family:\00003117}}
.indented {
  margin-left: 0;
  margin-right: 30px;
}

/**
 * Forms.
 */
/* Drupal's default login form block */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/directa_truc5\/sites\/all\/themes\/directa\/sass\/components\/_misc-rtl\.scss}line{font-family:\00003127}}
#user-login-form {
  text-align: right;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/directa_truc5\/sites\/all\/themes\/directa\/sass\/components\/_misc-rtl\.scss}line{font-family:\00003132}}
html.js #user-login-form li.openid-link,
#user-login-form li.openid-link {
  /* Un-do some of the padding on the ul list. */
  margin-left: 0;
  margin-right: -20px;
}

/*
 * Drupal admin tables.
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/directa_truc5\/sites\/all\/themes\/directa\/sass\/components\/_misc-rtl\.scss}line{font-family:\00003142}}
form th {
  text-align: right;
  padding-left: 1em;
  padding-right: 0;
}

/**
 * Collapsible fieldsets.
 *
 * @see collapse.js
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/directa_truc5\/sites\/all\/themes\/directa\/sass\/components\/_misc-rtl\.scss}line{font-family:\00003155}}
html.js .collapsible .fieldset-legend {
  background-position: 98% 75%;
  padding-left: 0;
  padding-right: 15px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/directa_truc5\/sites\/all\/themes\/directa\/sass\/components\/_misc-rtl\.scss}line{font-family:\00003160}}
html.js .collapsed .fieldset-legend {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAcAAAAHAQMAAAD+nMWQAAAABlBMVEX///8AAABVwtN+AAAAAXRSTlMAQObYZgAAABNJREFUCB1j4GASYFJgcmD+A4IADUIDfIUMT4wAAAAASUVORK5CYII=');
  background-position: 98% 50%;
}

/* SMACSS theme rules */
/* @import "theme-A-rtl"; */
/* @import "theme-B-rtl"; */
